<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
	<div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
         	<h3 class="big odd"><a href="#nogo">SUMMARY BLOCK </a></h3>
         	
         	<div class="summary-text col-md-12 col-sm-12 col-xs-12 no-padding">
         		<div class="text-content col-md-12 col-sm-12 col-xs-12 no-padding">
					<h4><a href="#nogo">SUMMARY HEADING</a></h4>
         			<p>Robotics has achieved its greatest success to date in the world of industrial manufacturing. 
         				Robot arms, or manipulators, comprise a $2 billion industry. Bolted at its shoulder to a specific position in the assembly line, 
         				the robot arm can move with great speed and accuracy to perform repetitive tasks such as spot welding and painting. In the electronics industry, manipulators place surface-mounted components with superhuman precision, making the portable telephone and laptop computer possible. Yet, for all of their successes, these commercial robots suffer from a fundamental disadvantage: lack of mobility. A fixed manipulator has a limited range of motion that depends on where it is bolted down. In contrast, a mobile robot would be able to travel throughout the manufacturing plant, flexibly applying its talents wherever it is most effective. This workshop focuses on the technology of mobility: how can a mobile robot move unsupervised through real-world environments to fulfill its tasks? How should a mobile robot move?
         			</p>
         			
         			<h4><a href="#nogo">SUMMARY HEADING</a></h4>
         			<p>Robotics has achieved its greatest success to date in the world of industrial manufacturing. 
         				Robot arms, or manipulators, comprise a $2 billion industry. Bolted at its shoulder to a specific position in the assembly line, 
         				the robot arm can move with great speed and accuracy to perform repetitive tasks such as spot welding and painting. In the electronics industry, manipulators place surface-mounted components with superhuman precision, making the portable telephone and laptop computer possible. Yet, for all of their successes, these commercial robots suffer from a fundamental disadvantage: lack of mobility. A fixed manipulator has a limited range of motion that depends on where it is bolted down. In contrast, a mobile robot would be able to travel throughout the manufacturing plant, flexibly applying its talents wherever it is most effective. This workshop focuses on the technology of mobility: how can a mobile robot move unsupervised through real-world environments to fulfill its tasks? How should a mobile robot move?
         			</p>
         			
         			<h4><a href="#nogo">SUMMARY HEADING</a></h4>
         			<p>Robotics has achieved its greatest success to date in the world of industrial manufacturing. 
         				Robot arms, or manipulators, comprise a $2 billion industry. Bolted at its shoulder to a specific position in the assembly line, 
         				the robot arm can move with great speed and accuracy to perform repetitive tasks such as spot welding and painting. In the electronics industry, manipulators place surface-mounted components with superhuman precision, making the portable telephone and laptop computer possible. Yet, for all of their successes, these commercial robots suffer from a fundamental disadvantage: lack of mobility. A fixed manipulator has a limited range of motion that depends on where it is bolted down. In contrast, a mobile robot would be able to travel throughout the manufacturing plant, flexibly applying its talents wherever it is most effective. This workshop focuses on the technology of mobility: how can a mobile robot move unsupervised through real-world environments to fulfill its tasks? How should a mobile robot move?
         			</p>
         			
         			<h4><a href="#nogo">SUMMARY HEADING</a></h4>
         			<p>Robotics has achieved its greatest success to date in the world of industrial manufacturing. 
         				Robot arms, or manipulators, comprise a $2 billion industry. Bolted at its shoulder to a specific position in the assembly line, 
         				the robot arm can move with great speed and accuracy to perform repetitive tasks such as spot welding and painting. In the electronics industry, manipulators place surface-mounted components with superhuman precision, making the portable telephone and laptop computer possible. Yet, for all of their successes, these commercial robots suffer from a fundamental disadvantage: lack of mobility. A fixed manipulator has a limited range of motion that depends on where it is bolted down. In contrast, a mobile robot would be able to travel throughout the manufacturing plant, flexibly applying its talents wherever it is most effective. This workshop focuses on the technology of mobility: how can a mobile robot move unsupervised through real-world environments to fulfill its tasks? How should a mobile robot move?
         			</p>
         		</div><!--TEXT-CONTENT-->
         		<!-- <img src=""> -->
         	</div><!--SUMMARY-TEXT-->         
         
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->
