<style>
	.button-demo{
		width: 100%;
		overflow: hidden;
		padding: 5% 10%;
	}
	.button-demo button{
		margin: 25px 0;
	}
	.button-demo button:first-child{
		float: left;
	}
	.button-demo button:last-child{
		float: right;
	}
</style>
<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="service-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row">
        <h2><a class="border">Testing Page</a></h2>
        <div class="button-demo">
          <button class="btn btn-5 btn-5b icon-arrow-left"><span>Previous</span></button>
          <button class="btn btn-5 btn-5b-rev icon-arrow-right"><span>Next</span></button>
        </div>
        <div class="button-demo" style="background-color: #ccc">
          <button class="btn btn-5 btn-5c btn-small icon-send"><span>SEND</span></button>
          <button class="btn btn-1 btn-1e">Contact Our Engineers</button>
        </div>
	      <div class="button-demo" style="background-color: #ccc" id="btn-click">
	        <button class="btn btn-5 btn-test-1"><span>Click Me</span></button>
	        <button class="btn btn-5 btn-test-2"><span>Click Me</span></button>
	      </div>
      </div>
    </div>
  </div>
</div>
<script>
//	$(document).ready(function() {
////	var buttons7Click = Array.prototype.slice.call( document.querySelectorAll( '#btn-click button' ) ),
////	totalButtons7Click = buttons7Click.length;
//
//		$('.btn-test-1').click(function (el, i) {
//			el.addEventListener('click', activate, false);
//		});
//
//		function activate() {
//			var self = this, activatedClass = 'btn-success';
//
//			if( !classie.has( this, activatedClass ) ) {
//				classie.add( this, activatedClass );
//				setTimeout( function() { classie.remove( self, activatedClass ) }, 1000 );
//			}
//		}
//	});
</script>
