<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="title">
            <a><%= @article.title %></a>
            <div class="addthis_sharing_toolbox"></div>
          </h3>

          <div class="summary-text col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="text-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <%= raw @article.content %>
            </div><!--TEXT-CONTENT-->
            <!-- <img src=""> -->
          </div><!--SUMMARY-TEXT-->

        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->

<style>
    .addthis_sharing_toolbox { display: inline-block; float: right; text-align: right; width: 20%; }
    .addthis_sharing_toolbox a { margin: auto 5px !important; }
</style>