<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="contact-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="title"><a>Contact Us</a></h3>

          <div class="text-content col-md-12 col-sm-12 col-xs-12 no-padding">
            <!--<h4><a href="#nogo">Get in Touch to get the Ball Rolling!!</a></h4>-->
            <p>Engineers at Nesans are always at your service and we are there every time to answer all your possible questions. Reach to us and We’ll get back as soon as possible
            </p>
            <p>Even if there is something you have expected Nesans to do and cannot find it in our site, please feel free to reach out to us and we assure you the best we can do on it.
              We are open to innovation and in Nesans the BOX DOES NOT EXIST.
            </p>
          </div><!--TEXT-CONTENT-->

          <%= render :partial => '/home/contact_form' %>

          <div class="contact-content col-md-12 col-sm-12 col-xs-12">
            <div class="contact-left col-md-6 col-sm-6 col-xs-12 no-padding">
              <p><span>EMAIL : </span><a href="#nogo">info@thenesans.com</a></p>

              <p><span>PHONE : </span>(+91) 9578 799 700 / 711 / 722</p>

              <p><b>CORPORATE OFFICE : </b>
                <br>
                SF No 20/1, Eachanary Madukkarai Road
                <br>
                Madukkarai ,
                <br>
                Coimbatore - 641105,
                <br>
                Tamilnadu
                <br>
                India.
              </p>
            </div><!--CONTACT-LEFT-->

            <div class="contact-right col-md-6 col-sm-6 col-xs-12 no-padding">
              <p><span>SKYPE : </span> <br> Sivabalan.Nesans ( sivabalan.s@thenesans.com )</p>

              <p class="no-margin"><b>OUR SOCIAL PRESENCE : </b><br>Follow us on LinkedIn and Google+ , Pop in and say Hello !!</p>

              <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/company/nesans-mining-and-automation-private-limited/"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="https://plus.google.com/+ssengineersindiain"><span class="fa fa-google-plus"></span></a></li>
              </ul>

              <!-- Place this tag where you want the widget to render. -->
              <div class="g-page" data-width="400" data-href="https://plus.google.com/115765437604626287064" data-layout="landscape" data-rel="publisher"></div>

              <!-- Place this tag after the last widget tag. -->
              <script type="text/javascript">
                  window.___gcfg = {lang: 'en-GB'};

                  (function() {
                      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                      po.src = 'https://apis.google.com/js/platform.js';
                      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
              </script>

            </div><!--CONTACT-RIGHT-->

          </div><!--CONTACT-CONTENT-->

          <div class="map_block col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15670.63913869233!2d76.969743!3d10.9134396!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc63e4c97a7db3921!2sNesans+Mining+and+Automation+Private+Limited!5e0!3m2!1sen!2sin!4v1462604941326" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div><!--CONTACT_MAP-->
          </div><!--MAP_BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->
