<div class="onse">

  <p class="aa">We are Evolving..</p>
  <p>Please visit after some time</p>

  <div class="two">Feel free to <a href="mailto:sivabalan@ssengineersindia.co.in,lokeshwrn27@gmail.com">contact us...</a></div>

</div>
<style>
	body{
		background-color:rgba(0,102,204,0.8);
	}
	.onse{
		padding-top:100px;
		width:50%;
		margin:0 auto;
		text-align:center;
		font-size:18px;
		color:#fff;
	}
	.onse p{color:#fff;font-size: 20px;}
	.aa{font-size: 35px!important;}
	a{
		text-decoration:none;
		color:#000;
	}

</style>