<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="title"><a>We Are Evolving.</a> </h3>
        </div><!--CONTENT-->

        <div class="summary-text col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="text-content col-md-12 col-sm-12 col-xs-12 no-padding">
            <h4>We will be online back in 24 Hours. Please feel free to <a href="mailto:sivabalan.s@thenesans.com" style="color:#0066cc;"> contact us.</a></h4>
          </div><!--TEXT-CONTENT-->
          <!-- <img src=""> -->
        </div><!--SUMMARY-TEXT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->
