<div id="wrapper">
<header>
  <div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="logo col-md-12 col-sm-12 col-xs-12 no-padding">
          <a href="#nogo"><img src="image/logo3.jpg" class="img-responsive" alt="logo"/></a>
        </div><!--LOGO-->

        <!-- <div class="menublock col-md-10 col-sm-10 col-xs-12">
	<ul class="menu">
		<li><a href="#nogo">MENU 1</a></li>
		<li><a href="#nogo">MENU 2</a></li>
		<li><a href="#nogo">MENU 3</a></li>
		<li><a href="#nogo">MENU 4</a></li>
		<li><a href="#nogo">MENU 5</a></li>
	</ul>
</div><!--MENUBLOCK-- -->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--HEADER-TOP-->

  <div class="banner col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="image/16.jpg" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="image/16.jpg" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="image/16.jpg" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
      </ul>
    </div>
  </div><!--BANNER-BLOCK-->

  <div class="menublock col-md-12 col-sm-12 col-xs-12">
    <div class="container no-padding">

      <div class="row no-margin">
        <ul class="menu">
          <li><a href="#nogo">MENU 1</a></li>
          <li><a href="#nogo">MENU 2</a></li>
          <li><a href="#nogo">MENU 3</a></li>
          <li><a href="#nogo">MENU 4</a></li>
          <li><a href="#nogo">MENU 5</a></li>
        </ul>

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--MENUBLOCK-->
</header>

<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">

  <div class="intro-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="even"><a href="#nogo">NESANS <span>OEM</span></a></h3>

          <p>Nesans Mining and Automation provides its customers with comprehensive, holistic, scientifically tailored solutions that help them achieve consistency in crushing, screening and classifying. Our products help to boost production capacity with less emission problems and our Custom engineered automation solutions can reduce manpower at sites and can cut off man made errors that hinder achieving higher ends of production. As an Original Equipment Manufacturer, Nesans M&A delivers each of its customers with solutions that suit their individual problem in question. </p>

        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INTRO-BLOCK-->

  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding odd">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left wow fadeInUp">
            <a href="#nogo"><img src="image/img1.JPG" alt="info-img" class="img-responsive"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInRight">
            <h3 class="odd"><a href="#nogo">Decisive and <span>Dynamic Feeding</span></a></h3>
            <p>Our Custom built vibratory feeders are competent in handling tenacious applications and they can process bulk of materials combined with quarry fines. Nesans M&A can equip you with its effective and energetic vibratory feeders that can be installed and used at all the stages in a crushing plant. Our SMA-GF Series Grizzly Feeders can greatly benefit you with its compelling capacity to process and segregate quarry fines and efficiently feed your primary crusher. </p>
            <div class="read-more">
              <a href="#nogo">READ MORE..</a>
            </div><!--READ-MORE-->
          </div><!--IMAGE-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->


  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding even">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-right wow fadeInUp">
            <a href="#nogo"><img src="image/img1.JPG" alt="info-img" class="img-responsive"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInLeft">
            <h3 class="even"><a href="#nogo">Consistent and <span>exquisite crushing</span></a></h3>
            <p>Nesans M&A provides you with decent and dependable crushing solutions that gives out persistent and homogenous results. Our in-store designed Impact Crushers SMA-HSIn Series and Roller Crushers SMA-RCn Series cut shorts maintenance costs and can help you increase your Return Of Investment. Moreover, the Rugged Design of our Machines greatly reduces downtime and can run your plant undistinguished. </p>
            <div class="read-more">
              <a href="#nogo">READ MORE..</a>
            </div><!--READ-MORE-->
          </div><!--TEXT-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->

  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding odd">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left wow fadeInUp">
            <a href="#nogo"><img src="image/22.jpg" alt="info-img" class="img-responsive wow jello"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInRight">
            <h3 class="odd"><a href="#nogo">Reliable and <span>Efficient Screening</span></a></h3>
            <p>Our deep product knowledge, unequalled industry experience and exceptional design expertise has helped us create a breakthrough product range of vibrating screens for the mining industry. Our High-Flo Vibratory Screens SMA-HF Series efficiently removes fines that has been a major setback for screening ores. Our Vibratory screens comes in different grouping in terms of frequency that is custom designed for the application in need. </p>
            <div class="read-more">
              <a href="#nogo">READ MORE..</a>
            </div><!--READ-MORE-->
          </div><!--TEXT-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->

  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding even">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-right wow fadeInUp">
            <a href="#nogo"><img src="image/img1.JPG" alt="info-img" class="img-responsive"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInLeft">
            <h3 class="even"><a href="#nogo">Consistent and <span>exquisite crushing</span></a></h3>
            <p>Nesans M&A provides you with decent and dependable crushing solutions that gives out persistent and homogenous results. Our in-store designed Impact Crushers SMA-HSIn Series and Roller Crushers SMA-RCn Series cut shorts maintenance costs and can help you increase your Return Of Investment. Moreover, the Rugged Design of our Machines greatly reduces downtime and can run your plant undistinguished. </p>
            <div class="read-more">
              <a href="#nogo">READ MORE..</a>
            </div><!--READ-MORE-->
          </div><!--TEXT-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->


  <div class="testimonial-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">
        <h3 class="even"><a href="#nogo">CLIENT <span>TESTIMONIALS</span></a></h3>
        <div class="testimonial-slide col-md-12 col-sm-12 col-xs-12 no-padding">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="testimonial col-md-12 col-sm-12 col-xs-12 no-padding">
                  <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                    Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica,
                    li pronunciation e li plu commun vocabules.
                  </p>
                  <h4><span class="glyphicon glyphicon-comment"></span><a href="#nogo">NAME</a></h4>
                  <h5><a href="#nogo">DESCRIPTION</a></h5>
                </div><!--TESTIMONIAL-->
              </div>

              <div class="item">
                <div class="testimonial col-md-12 col-sm-12 col-xs-12 no-padding">
                  <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                    Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica,
                    li pronunciation e li plu commun vocabules.
                  </p>
                  <h4><span class="glyphicon glyphicon-comment"></span><a href="#nogo">NAME</a></h4>
                  <h5><a href="#nogo">DESCRIPTION</a></h5>
                </div><!--TESTIMONIAL-->
              </div>

              <div class="item">
                <div class="testimonial col-md-12 col-sm-12 col-xs-12 no-padding">
                  <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                    Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica,
                    li pronunciation e li plu commun vocabules.
                  </p>
                  <h4><span class="glyphicon glyphicon-comment"></span><a href="#nogo">NAME</a></h4>
                  <h5><a href="#nogo">DESCRIPTION</a></h5>
                </div><!--TESTIMONIAL-->
              </div>

              <div class="item">
                <div class="testimonial col-md-12 col-sm-12 col-xs-12 no-padding">
                  <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                    Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica,
                    li pronunciation e li plu commun vocabules.
                  </p>
                  <h4><span class="glyphicon glyphicon-comment"></span><a href="#nogo">NAME</a></h4>
                  <h5><a href="#nogo">DESCRIPTION</a></h5>
                </div><!--TESTIMONIAL-->
              </div>
            </div>

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div><!--CAROUSEL-->
        </div><!--TESTIMONIAL-BLOCK-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--TESTIMONIAL-BLOCK-->

</div><!--CONTAINER-BLOCK-->

<div class="footer col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="footer-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="address-block col-md-4 col-sm-4 col-xs-12">
            <h4>CONTACT US</h4>

            <p>Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim.</p>
          </div><!--ADDRESS-BLOCK-->

          <div class="social-link col-md-4 col-sm-4 col-xs-12">
            <h4>FOLLOW US</h4>

            <ul class="list-unstyled">
              <li><a href="#nogo"><span class="fa fa-facebook"></span> - Katomaran India</a></li>
              <li><a href="#nogo"><span class="fa fa-twitter"></span> - Katomaran Technologies</a></li>
              <li><a href="#nogo"><span class="fa fa-linkedin"></span> - Katomaran Robotics</a></li>
              <li><a href="#nogo"><span class="fa fa-mobile"></span> - 1234567890</a></li>
              <li><a href="#nogo"><span class="fa fa-envelope"></span> - robotics@katomaran.com</a></li>
            </ul>
          </div><!--SOCIAL-LINK-->

          <div class="contact-us col-md-4 col-sm-4 col-xs-12">
            <h4>WRITE US</h4>

            <form>
              <input type="text" class="form-control" placeholder="NAME">

              <input type="text" class="form-control"  placeholder="EMAIL">

              <textarea class="form-control"  placeholder="CONTENT"></textarea>

              <div class="submit-btn">
                <input type="button" value="SUBMIT">
              </div>
            </form>
          </div><!--DUMMY-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-TOP-->

  <div class="footer-bottom col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="powered-by col-md-4 col-sm-4 col-xs-12 no-padding">
            <p>@2016 <span>THE GOOD SIDE,</span> CCC TPL</p>
          </div><!--POWERED-BY-->

          <div class="footer-menu col-md-8 col-sm-8 col-xs-12 no-padding">
            <ul class="list-inline">
              <li><a href="#nogo">MENU 1</a></li>
              <li><a href="#nogo">MENU 2</a></li>
              <li><a href="#nogo">MENU 3</a></li>
              <li><a href="#nogo">MENU 4</a></li>
              <li><a href="#nogo">MENU 5</a></li>
            </ul>
          </div><!--footer-menu-->
        </div><!--FOOTER-CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-BOTTOM-->
</div><!--FOOTER-->


</div><!--WRAPPER-->

<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			animationSpeed : 2000,
			controlNav : false,
			easing : "swing",
			touch : true,
			pauseOnHover : true
		});
	});
	$(window).load(function(){
		/* wow script for animation */
		var wow = new WOW().init();
	});
	$(document).ready(function(){
		$('header').css("min-height", $(window).height());
		$(document).on("scroll", function(){
			var windowht = $(window).height();
			var currentht = $(document).scrollTop();
			if (currentht > windowht){
				$('.menublock').addClass('fixed-menu');
			}
			else {
				$('.menublock').removeClass('fixed-menu');
			}
		});
	});

</script>
