<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
	<div class="intro-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="odd big"><a href="#nogo">NESANS <span>OEM</span></a></h3>

          <p>The Global mining industry’s intense focus on cost reduction, performance optimization, and system availability are the key drivers behind Nesans Mining and Automation’s development of its sophisticated crushing, conveying, screening and classifying solutions. Nesans Mining and Automation provides its customers with comprehensive, holistic, scientifically tailored solutions that help them achieve consistency in crushing, screening and classifying. Our products help to boost production capacity with less emission problems and our Custom engineered automation solutions can reduce manpower at sites and can cut off man made errors that hinder achieving higher ends of production. As an Original Equipment Manufacturer, Nesans M&A delivers each of its customers with solutions that suit their individual problem in question. Nesans M&A is uniquely positioned to capitalize on the industry’s high-capacity overburden handling needs for both cost effective and sustainable crushing solutions. For more than a decade, Nesans M&A has helped its customers around the world tackle the toughest challenges posed by mining.</p>

        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INTRO-BLOCK-->

  <div class="description-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

				<div class="description-content col-md-12 col-sm-12 col-xs-12 no-padding">
				  <div class="description-parent">
						<div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
							<h4><a href="#nogo">1.TEXT</a></h4>

							<p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
						  <span></span>
						</div><!--mini-desc-->
					</div><!--description-parent-->

				  <div class="description-parent">
				    <div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
				      <h4><a href="#nogo">1.TEXT</a></h4>

				      <p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
				      <span></span>
				    </div><!--mini-desc-->
				  </div><!--description-parent-->

				  <div class="description-parent">
				    <div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
				      <h4><a href="#nogo">1.TEXT</a></h4>

				      <p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
				      <span></span>
				    </div><!--mini-desc-->
				  </div><!--description-parent-->

				  <div class="description-parent">
				    <div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
				      <h4><a href="#nogo">1.TEXT</a></h4>

				      <p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
				      <span></span>
				    </div><!--mini-desc-->
				  </div><!--description-parent-->

				  <div class="description-parent">
				    <div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
				      <h4><a href="#nogo">1.TEXT</a></h4>

				      <p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
				      <span></span>
				    </div><!--mini-desc-->
				  </div><!--description-parent-->
				</div><!--description-content-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--DESCRIPTION-->

  <div class="info-block first col-md-12 col-sm-12 col-xs-12 no-padding odd">
    <div class="container no-padding">
      <div class="row no-margin">
        <!--<h3 class="odd big"><a href="#nogo">NESANS <span>OEM</span></a></h3>-->
        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left wow fadeInUp">
            <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="info-img" class="img-responsive"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInRight">
            <h3 class="odd"><a href="#nogo">Decisive and <span>Dynamic Feeding</span></a></h3>
            <p>Our Custom built vibratory feeders are competent in handling tenacious applications and they can process bulk of materials combined with quarry fines. Nesans M&A can equip you with its effective and energetic vibratory feeders that can be installed and used at all the stages in a crushing plant. Our FG Series Grizzly Feeders can greatly benefit you with its compelling capacity to process and segregate quarry fines and efficiently feed your primary crusher. </p>

          </div><!--IMAGE-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->


  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding even">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-right wow fadeInUp">
            <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="info-img" class="img-responsive"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInLeft">
            <h3 class="even"><a href="#nogo">Consistent and <span>exquisite crushing</span></a></h3>
            <p>Nesans M&A provides you with decent and dependable crushing solutions that gives out persistent and homogenous results. Our in-store designed Impact Crushers CE Series Impact Crushers and CF Series Roller Crushers cut shorts maintenance costs and can help you increase your Return Of Investment. Moreover, the Rugged Design of our Machines greatly reduces downtime and can run your plant undistinguished. </p>

          </div><!--TEXT-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->

  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding odd">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left wow fadeInUp">
            <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="info-img" class="img-responsive wow jello"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInRight">
            <h3 class="odd"><a href="#nogo">Reliable and <span>Efficient Screening</span></a></h3>
            <p>Our deep product knowledge, unequalled industry experience and exceptional design expertise has helped us create a breakthrough product range of vibrating screens for the mining industry. Our High-Flo VN Series Vibratory Screens efficiently removes fines that has been a major setback for screening ores. Our Vibratory screens comes in different grouping in terms of frequency that is custom designed for the application in need. </p>

          </div><!--TEXT-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->

  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding even">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-right wow fadeInUp">
            <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="info-img" class="img-responsive"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInLeft">

            <h3 class="even"><a href="#nogo">Efficacious and <span>Effective Classification</span></a></h3>
            <p>With the growing demand for Natural sand and with the consequential environmental restrictions, mining and construction sector has divulged into a new science called M-sands. Nesans SW C Series M-sand Washers are the potential choices for your washing application and its influential operation can produce high sand recovery (above 60 µ) to increase production with a low running cost. Our SW D Series Dewatering Screens feature large quantity combined with economical running cost. </p>

          </div><!--TEXT-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->

</div><!--CONTAINER-BLOCK-->
