<div id="wrapper">
<header>
  <div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="logo col-md-5 col-sm-5 col-xs-12 no-padding">
          <a href="#nogo"><img src="images/logo.png" class="img-responsive" alt="logo"/></a>
        </div><!--LOGO-->

        <div class="social-icon col-md-7 col-sm-7 col-xs-12 no-padding">
          <ul class="list-inline">
            <li><a href="#nogo"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-envelope"></span></a></li>
          </ul>

	        <div class="search">
	          <span><a href="#nogo"><span class="fa fa-search"></span></a></span>
            <input type="text" placeholder="..search">
	        </div>
	       </div>


<!-- <div class="menublock col-md-10 col-sm-10 col-xs-12">
<ul class="menu">
<li><a href="#nogo">MENU 1</a></li>
<li><a href="#nogo">MENU 2</a></li>
<li><a href="#nogo">MENU 3</a></li>
<li><a href="#nogo">MENU 4</a></li>
<li><a href="#nogo">MENU 5</a></li>
</ul>
</div><!--MENUBLOCK-- -->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--HEADER-TOP-->

  <div class="menublock col-md-12 col-sm-12 col-xs-12">
    <div class="container no-padding">

      <div class="row no-margin">
        <ul class="menu">
          <li><a href="#nogo">HOME</a></li>
          <li><a href="#nogo">PRODUCTS</a></li>
          <li><a href="#nogo">NESANS OEM</a></li>
          <li><a href="#nogo">SPARES</a></li>
          <li><a href="#nogo">SHOWROOM</a></li>
          <li><a href="#nogo">CONTACT US</a></li>
        </ul>

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--MENUBLOCK-->

  <div class="banner col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="images/1.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="images/2.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="images/3.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="images/4.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="images/5.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
      </ul>
    </div>
  </div><!--BANNER-BLOCK-->


</header>

<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
	<div class="intro-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="even big"><a href="#nogo">NESANS <span>OEM</span></a></h3>

          <p>The Global mining industry’s intense focus on cost reduction, performance optimization, and system availability are the key drivers behind Nesans Mining and Automation’s development of its sophisticated crushing, conveying, screening and classifying solutions. Nesans Mining and Automation provides its customers with comprehensive, holistic, scientifically tailored solutions that help them achieve consistency in crushing, screening and classifying. Our products help to boost production capacity with less emission problems and our Custom engineered automation solutions can reduce manpower at sites and can cut off man made errors that hinder achieving higher ends of production. As an Original Equipment Manufacturer, Nesans M&A delivers each of its customers with solutions that suit their individual problem in question. Nesans M&A is uniquely positioned to capitalize on the industry’s high-capacity overburden handling needs for both cost effective and sustainable crushing solutions. For more than a decade, Nesans M&A has helped its customers around the world tackle the toughest challenges posed by mining.</p>

        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INTRO-BLOCK-->

  <div class="description-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

				<div class="description-content col-md-12 col-sm-12 col-xs-12 no-padding">
				  <div class="description-parent">
						<div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
							<h4><a href="#nogo">1.TEXT</a></h4>

							<p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
						  <span></span>
						</div><!--mini-desc-->
					</div><!--description-parent-->

				  <div class="description-parent">
				    <div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
				      <h4><a href="#nogo">1.TEXT</a></h4>

				      <p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
				      <span></span>
				    </div><!--mini-desc-->
				  </div><!--description-parent-->

				  <div class="description-parent">
				    <div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
				      <h4><a href="#nogo">1.TEXT</a></h4>

				      <p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
				      <span></span>
				    </div><!--mini-desc-->
				  </div><!--description-parent-->

				  <div class="description-parent">
				    <div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
				      <h4><a href="#nogo">1.TEXT</a></h4>

				      <p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
				      <span></span>
				    </div><!--mini-desc-->
				  </div><!--description-parent-->

				  <div class="description-parent">
				    <div class="mini-desc col-md-12 col-sm-12 col-xs-12 no-padding">
				      <h4><a href="#nogo">1.TEXT</a></h4>

				      <p> Connect all kind of devices to Carriots to gather data and build applications for them.</p>
				      <span></span>
				    </div><!--mini-desc-->
				  </div><!--description-parent-->
				</div><!--description-content-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--DESCRIPTION-->

  <div class="info-block first col-md-12 col-sm-12 col-xs-12 no-padding odd">
    <div class="container no-padding">
      <div class="row no-margin">
        <h3 class="odd big"><a href="#nogo">NESANS <span>OEM</span></a></h3>
        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left wow fadeInUp">
            <a href="#nogo"><img src="image/img1.JPG" alt="info-img" class="img-responsive"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInRight">
            <h3 class="odd"><a href="#nogo">Decisive and <span>Dynamic Feeding</span></a></h3>
            <p>Our Custom built vibratory feeders are competent in handling tenacious applications and they can process bulk of materials combined with quarry fines. Nesans M&A can equip you with its effective and energetic vibratory feeders that can be installed and used at all the stages in a crushing plant. Our NMA-H Series Grizzly Feeders can greatly benefit you with its compelling capacity to process and segregate quarry fines and efficiently feed your primary crusher.  </p>

          </div><!--IMAGE-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->


  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding even">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-right wow fadeInUp">
            <a href="#nogo"><img src="image/img1.JPG" alt="info-img" class="img-responsive"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInLeft">
            <h3 class="even"><a href="#nogo">Consistent and <span>exquisite crushing</span></a></h3>
            <p>Nesans M&A provides you with decent and dependable crushing solutions that gives out persistent and homogenous results. Our in-store designed Impact Crushers NMA-HS E Series and Roller Crushers NMA-RC F Series cut shorts maintenance costs and can help you increase your Return Of Investment. Moreover, the Rugged Design of our Machines greatly reduces downtime and can run your plant undistinguished. </p>

          </div><!--TEXT-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->

  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding odd">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-left wow fadeInUp">
            <a href="#nogo"><img src="image/22.jpg" alt="info-img" class="img-responsive wow jello"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInRight">
            <h3 class="odd"><a href="#nogo">Reliable and <span>Efficient Screening</span></a></h3>
            <p>Our deep product knowledge, unequalled industry experience and exceptional design expertise has helped us create a breakthrough product range of vibrating screens for the mining industry. Our High-Flo Vibratory Screens NMA-N Series efficiently removes fines that has been a major setback for screening ores. Our Vibratory screens comes in different grouping in terms of frequency that is custom designed for the application in need. </p>

          </div><!--TEXT-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->

  <div class="info-block col-md-12 col-sm-12 col-xs-12 no-padding even">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="image-block col-md-7 col-sm-7 col-xs-12 no-padding-right wow fadeInUp">
            <a href="#nogo"><img src="image/img1.JPG" alt="info-img" class="img-responsive"></a>
          </div><!--IMAGE-BLOCK-->

          <div class="text-block col-md-5 col-sm-5 col-xs-12 no-padding wow bounceInLeft">

            <h3 class="even"><a href="#nogo">Efficacious and <span>Effective Classification</span></a></h3>
            <p>With the growing demand for Natural sand and with the consequential environmental restrictions, mining and construction sector has divulged into a new science called M-sands. Nesans SW C series M-sand Washers are the potential choices for your washing application and its influential operation can  produce high sand recovery (above 60 µ) to increase production with a low running cost. Our MS Series Sand Washers feature large quantity combined with economical running cost. </p>

          </div><!--TEXT-BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--INFO-BLOCK-->

</div><!--CONTAINER-BLOCK-->

<div class="footer col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="footer-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="address-block col-md-4 col-sm-4 col-xs-12">
            <h4>CONTACT US</h4>

            <p>Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim.</p>
          </div><!--ADDRESS-BLOCK-->

          <div class="social-link col-md-4 col-sm-4 col-xs-12">
            <h4>FOLLOW US</h4>

            <ul class="list-unstyled">
              <li><a href="#nogo"><span class="fa fa-facebook"></span> - Katomaran India</a></li>
              <li><a href="#nogo"><span class="fa fa-twitter"></span> - Katomaran Technologies</a></li>
              <li><a href="#nogo"><span class="fa fa-linkedin"></span> - Katomaran Robotics</a></li>
              <li><a href="#nogo"><span class="fa fa-mobile"></span> - 1234567890</a></li>
              <li><a href="#nogo"><span class="fa fa-envelope"></span> - robotics@katomaran.com</a></li>
            </ul>
          </div><!--SOCIAL-LINK-->

          <div class="contact-us col-md-4 col-sm-4 col-xs-12">
            <h4>WRITE US</h4>

            <form>
              <input type="text" class="form-control" placeholder="NAME">

              <input type="text" class="form-control"  placeholder="EMAIL">

              <textarea class="form-control"  placeholder="CONTENT"></textarea>

              <div class="submit-btn">
                <input type="button" value="SUBMIT">
              </div>
            </form>
          </div><!--DUMMY-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-TOP-->

  <div class="footer-bottom col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="footer-menu col-md-8 col-sm-8 col-xs-12 no-padding">
            <ul class="list-inline">
              <li><a href="#nogo">MENU 1</a></li>
              <li><a href="#nogo">MENU 2</a></li>
              <li><a href="#nogo">MENU 3</a></li>
              <li><a href="#nogo">MENU 4</a></li>
              <li><a href="#nogo">MENU 5</a></li>
            </ul>
          </div><!--footer-menu-->

          <div class="powered-by col-md-4 col-sm-4 col-xs-12 no-padding">
            <p>@2016 <span>THE GOOD SIDE,</span> CCC TPL</p>
          </div><!--POWERED-BY-->
        </div><!--FOOTER-CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-BOTTOM-->
</div><!--FOOTER-->


</div><!--WRAPPER-->

<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			animationSpeed : 2000,
			controlNav : false,
			easing : "swing",
			touch : true,
			pauseOnHover : true
		});
	});
	$(window).load(function(){
		/* wow script for animation */
		var wow = new WOW().init();
	});


//	$(document).ready(function(){
//		$('header').css("min-height", $(window).height());
//		$(document).on("scroll resize", function(){
//			var windowht = $(window).height();
//			var currentht = $(document).scrollTop();
//			if (currentht > windowht-60){
//				$('.menublock').addClass('fixed-menu');
//			}
//			else {
//				$('.menublock').removeClass('fixed-menu');
//			}
//		});
//	});
</script>
