<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="big odd"><a href="#nogo">Nesans OEM</a></h3>
          <div class="about-us-head">
            <h4 class="text-center">Your Success is our Business</h4>
            <h4 class="text-center">Building Prosperous and Sustainable Solutions</h4>
          </div>

          <div class="summary-text col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="text-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <!--<h4><a>SUMMARY HEADING</a></h4>-->
              <p>In our field of expertise we have just one strategy and one mission to fulfil – to help our customers to constantly improve their business. Through our products, services and know-how, we empower our customers to become increasingly competitive and profitable, year after year. Nothing is more important. Why? Because by helping our customers to succeed, we also obtain the resources and feedback that we need to continue helping our customers to stay at the forefront of rock excavation technology. The progress we have made in Southern Part of India, for example, is typical of the way we operate. Here, we started by establishing worksite references where we proved the superior performance of our equipment as well as our ability to provide dedicated and professional service which is the key to high equipment availability and productivity.
              </p>

              <h4><a>Nesans M&A operate on three basic Principles </a></h4>
              <p><b>To Express</b> to our customers, the potential capability of Nesans M&A in the field of mining technology and to build a long-term commitment with our customers by recognizing the importance of understanding their needs and the parameters that exist in the production chain in this mutual effort to further enhance their profitability and productivity. In
                this process, good communication with operators and mechanics – those who have the hands-on experience – is essential and the importance of pro-active, preventive maintenance cannot be over-emphasized. By showing that we can predict which parts are needed, when and where, we can help our customers to optimize capital tied up and equipment availability.
              </p>

              <!--<h4><a>SUMMARY HEADING</a></h4>-->
              <p><b>To Engineer</b> our promises made to our customers by manufacturing efficient and reliable machines that will stand out of times producing sustainable results. We not only engineer but also possess responsibility to develop a constant stream of innovative products that can meet our customers’ needs and support them in their efforts to achieve their tough objectives. In fact, the demand for our innovative products has never been greater. At the same time, we are developing and expanding our organization to meet the demands of the future. For example, over the past few years we have made substantial investments in automation and quality enhancement.
              </p>

              <!--<h4><a>SUMMARY HEADING</a></h4>-->
              <p><b>To Execute</b> what is said and to deliver promises are our fundamental concerns. The benefits of the new technologies being applied in mining equipment cannot be fully realized without a high level of quality in maintenance, logistical support, training and advice. Each machine requires tailor-made solutions in after-sales support to cope with the dust of the desert or the thin air of the western Ghats, not to mention the particular mining conditions in each operation. We do not stop after delivery but will support and acknowledge our customers at every step of their business. Our customers’ success is therefore our prime concern. And we aim to keep it that way.
              </p>

              <h4><a>History</a></h4>
              <p>Established in the year 2004 as S S Engineers, by our dynamic and charismatic founder Selvarajan Chokkalingam the company has grown leaps and bounds since then. The company started its operations by manufacturing vibratory feeder and vibratory screens. All our initial orders were based around the Karanampettai area of Coimbatore. It may also be said that most of the screens and feeders from that area are our products. Mining conveyors were also our prime business during our starting days. We have finished a lot of products in and around south India. Some of our Landmark products are running in Karur, Tiruchirapalli, Kangeyam, Theni, Vellakoil, Thoothukudi, Madurai, Ooty etc. The company then started operations in it’s own place with a manufacturing unit and Administrative office put up at Madukkarai, 15km from Coimbatore Mainstream.  The company then concentrated on Automatic conveyor systems which can greatly cut off labor costs. Combined with latest drive technology and our custom tailored mechanical designs, our automatic conveyor projects were a great success. The company successfully completed a lot of projects in North India too, touching 100 projects in the year 2012, Just 8 years from starting operations.
                The company then moved from Proprietorship to Private Limited company to enlarge its operations and got into mining automation. Being a forerunner in conveyor technology, the company also completed a couple of projects in the area of food processing conveyors. The company has extended its hands to a lot of a chips and chat manufacturers in Coimbatore helping them automating food making processes and greatly cutting wastages and helping them maintain quality compliances which further helped them find export markets. The company then started manufacturing stone crushers, specifically Horizontal Shaft Impactors. Horizontal Shaft Impactors always have an edge over Jaw Crushers due to its Higher Impact Force and less maintenance costs. The quality of output from HSI is also good when compared to other type of crushers. The company also manufactures spare parts for the mining industry such as Conveyor Rollers, Wear and Tear Parts etc. Building strong customer relationships and maintaining them for longer terms has always been the prime motive of the company and we assure to keep them up in the fore coming days.
              </p>

            </div><!--TEXT-CONTENT-->
            <!-- <img src=""> -->
          </div><!--SUMMARY-TEXT-->

        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->
