<div id="wrapper">
<header>
  <div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="logo col-md-5 col-sm-5 col-xs-12 no-padding">
          <a href="#nogo"><img src="/image/logo.png" class="img-responsive" alt="logo"/></a>
        </div><!--LOGO-->

        <div class="social-icon col-md-7 col-sm-7 col-xs-12 no-padding">
          <ul class="list-inline">
            <li><a href="#nogo"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-envelope"></span></a></li>
          </ul>

	        <!-- <div class="search">
	          <span><a href="#nogo"><span class="fa fa-search"></span></a></span>
            <input type="text" placeholder="..search">
	        </div> -->
	       </div>


<!-- <div class="menublock col-md-10 col-sm-10 col-xs-12">
<ul class="menu">
<li><a href="#nogo">MENU 1</a></li>
<li><a href="#nogo">MENU 2</a></li>
<li><a href="#nogo">MENU 3</a></li>
<li><a href="#nogo">MENU 4</a></li>
<li><a href="#nogo">MENU 5</a></li>
</ul>
</div><!--MENUBLOCK-- -->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--HEADER-TOP-->

  <div class="menublock col-md-12 col-sm-12 col-xs-12">
    <div class="container no-padding">

      <div class="row no-margin">
      	<div class="d-menu">
      		<a href="#nogo" class="menu-icon"></a>	
      	</div>
      	
        <ul class="menu">
          <li><a href="#nogo">HOME</a></li>
          <li><a href="#nogo">PRODUCTS</a></li>
          <li><a href="#nogo">NESANS OEM</a></li>
          <li><a href="#nogo">SPARES</a></li>
          <li><a href="#nogo">SHOWROOM</a></li>
          <li><a href="#nogo">CONTACT US</a></li>
        </ul>

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--MENUBLOCK-->

  <div class="banner col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="/image/product.jpg" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="/image/product.jpg" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="/image/3.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="/image/4.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="/images/5.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
      </ul>
    </div>
  </div><!--BANNER-BLOCK-->


</header>

<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
	<div class="product-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
         	<div class="product-content col-md-12 col-sm-12 col-xs-12 no-padding">
         		
         		<div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
         			<div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
         				<div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
				            <a href="#nogo"><img src="/image/product.jpg" alt="product-img" class="img-responsive"></a>
				            <a href="#nogo" class="text-content">
				            	<span>Sed perspiciatis</span> </a>
				        </div><!--IMAGE-CONTENT-->
         			</div><!--PRODUCT-->
         		</div><!--PRODUCT-PARENT-->
         		
         		<div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
         			<div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
         				<div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
				            <a href="#nogo"><img src="/image/product.jpg" alt="product-img" class="img-responsive"></a>
				            <a href="#nogo" class="text-content">Sed perspiciatis </a>
				        </div><!--IMAGE-CONTENT-->
         			</div><!--PRODUCT-->
         		</div><!--PRODUCT-PARENT-->
         		
         	</div><!--PRODUCT-CONTENT-->
         	
         	<div class="product-content col-md-12 col-sm-12 col-xs-12 no-padding">
         		
         		<div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
         			<div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
         				<div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
				            <a href="#nogo"><img src="/image/product.jpg" alt="product-img" class="img-responsive"></a>
				            <a href="#nogo" class="text-content">Sed perspiciatis </a>
				        </div><!--IMAGE-CONTENT-->
         			</div><!--PRODUCT-->
         		</div><!--PRODUCT-PARENT-->
         		
         		<div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
         			<div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
         				<div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
				            <a href="#nogo"><img src="/image/product.jpg" alt="product-img" class="img-responsive"></a>
				            <a href="#nogo" class="text-content">Sed perspiciatis </a>
				        </div><!--IMAGE-CONTENT-->
         			</div><!--PRODUCT-->
         		</div><!--PRODUCT-PARENT-->
         		
         	</div><!--PRODUCT-CONTENT-->
         	
         	<div class="product-content col-md-12 col-sm-12 col-xs-12 no-padding">
         		
         		<div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
         			<div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
         				<div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
				            <a href="#nogo"><img src="/image/product.jpg" alt="product-img" class="img-responsive"></a>
				            <a href="#nogo" class="text-content">Sed perspiciatis </a>
				        </div><!--IMAGE-CONTENT-->
         			</div><!--PRODUCT-->
         		</div><!--PRODUCT-PARENT-->
         		
         		<div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
         			<div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
         				<div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
				            <a href="#nogo"><img src="/image/product.jpg" alt="product-img" class="img-responsive"></a>
				            <a href="#nogo" class="text-content">Sed perspiciatis </a>
				        </div><!--IMAGE-CONTENT-->
         			</div><!--PRODUCT-->
         		</div><!--PRODUCT-PARENT-->
         		
         	</div><!--PRODUCT-CONTENT-->
         
         
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--PRODUCT-BLOCK-->

</div><!--CONTAINER-BLOCK-->

<div class="footer col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="footer-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="address-block col-md-4 col-sm-4 col-xs-12">
            <h4>CONTACT US</h4>

            <p>Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim.</p>
          </div><!--ADDRESS-BLOCK-->

          <div class="social-link col-md-4 col-sm-4 col-xs-12">
            <h4>FOLLOW US</h4>

            <ul class="list-unstyled">
              <li><a href="#nogo"><span class="fa fa-facebook"></span> - Katomaran India</a></li>
              <li><a href="#nogo"><span class="fa fa-twitter"></span> - Katomaran Technologies</a></li>
              <li><a href="#nogo"><span class="fa fa-linkedin"></span> - Katomaran Robotics</a></li>
              <li><a href="#nogo"><span class="fa fa-mobile"></span> - 1234567890</a></li>
              <li><a href="#nogo"><span class="fa fa-envelope"></span> - robotics@katomaran.com</a></li>
            </ul>
          </div><!--SOCIAL-LINK-->

          <!-- <div class="contact-us col-md-4 col-sm-4 col-xs-12">
            <h4>WRITE US</h4>

            <form>
              <input type="text" class="form-control" placeholder="NAME">

              <input type="text" class="form-control"  placeholder="EMAIL">

              <textarea class="form-control"  placeholder="CONTENT"></textarea>

              <div class="submit-btn">
                <input type="button" value="SUBMIT">
              </div>
            </form>
          </div><!--CONTACT-US-> -->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-TOP-->

  <div class="footer-bottom col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="footer-menu col-md-8 col-sm-8 col-xs-12 no-padding">
            <ul class="list-inline">
              <li><a href="#nogo">MENU 1</a></li>
              <li><a href="#nogo">MENU 2</a></li>
              <li><a href="#nogo">MENU 3</a></li>
              <li><a href="#nogo">MENU 4</a></li>
              <li><a href="#nogo">MENU 5</a></li>
            </ul>
          </div><!--footer-menu-->

          <div class="powered-by col-md-4 col-sm-4 col-xs-12 no-padding">
            <p>@2016 <span>THE GOOD SIDE,</span> CCC TPL</p>
          </div><!--POWERED-BY-->
        </div><!--FOOTER-CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-BOTTOM-->
</div><!--FOOTER-->


</div><!--WRAPPER-->

<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			animationSpeed : 2000,
			controlNav : false,
			easing : "swing",
			touch : true,
			pauseOnHover : true
		});
	});
	$(window).load(function(){
		/* wow script for animation */
		var wow = new WOW().init();
	});


//	$(document).ready(function(){
//		$('header').css("min-height", $(window).height());
//		$(document).on("scroll resize", function(){
//			var windowht = $(window).height();
//			var currentht = $(document).scrollTop();
//			if (currentht > windowht-60){
//				$('.menublock').addClass('fixed-menu');
//			}
//			else {
//				$('.menublock').removeClass('fixed-menu');
//			}
//		});
//	});
</script>

<script>

	$(document).ready(function(){
			if($(window).width() < 610){
			    $('.menu-icon').click(function () {
			       // var divname= this.name;
			        $('.menu').toggle("slide", { direction: "right" }, 500);
			    });
			    $('button.close').click(function () {
			       // var divname= this.name;
			        $('.menu').toggle("slide", { direction: "right" }, 500);
			    });
	   	}
			
			
});
</script>