<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="product-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="product-content col-md-12 col-sm-12 col-xs-12 no-padding">

            <div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
              <div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
                  <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="product-img" class="img-responsive"></a>
                  <a href="#nogo" class="text-content">
                    <span>Feeders</span> </a>
                </div><!--IMAGE-CONTENT-->
              </div><!--PRODUCT-->
            </div><!--PRODUCT-PARENT-->

            <div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
              <div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
                  <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="product-img" class="img-responsive"></a>
                  <a href="#nogo" class="text-content">
                    <span>Crushers</span> </a>
                </div><!--IMAGE-CONTENT-->
              </div><!--PRODUCT-->
            </div><!--PRODUCT-PARENT-->

          </div><!--PRODUCT-CONTENT-->

          <div class="product-content col-md-12 col-sm-12 col-xs-12 no-padding">

            <div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
              <div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
                  <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="product-img" class="img-responsive"></a>
                  <a href="#nogo" class="text-content">
                    <span>Conveyors</span> </a>
                </div><!--IMAGE-CONTENT-->
              </div><!--PRODUCT-->
            </div><!--PRODUCT-PARENT-->

            <div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
              <div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
                  <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="product-img" class="img-responsive"></a>
                  <a href="#nogo" class="text-content">
                    <span>Vibratory Screens</span> </a>
                </div><!--IMAGE-CONTENT-->
              </div><!--PRODUCT-->
            </div><!--PRODUCT-PARENT-->

          </div><!--PRODUCT-CONTENT-->

          <div class="product-content col-md-12 col-sm-12 col-xs-12 no-padding">

            <div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
              <div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
                  <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="product-img" class="img-responsive"></a>
                  <a href="#nogo" class="text-content">
                    <span>Sand Washers</span> </a>
                </div><!--IMAGE-CONTENT-->
              </div><!--PRODUCT-->
            </div><!--PRODUCT-PARENT-->

            <div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
              <div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
                  <a href="#nogo"><img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460052266/thenesans/img1.jpg" alt="product-img" class="img-responsive"></a>
                  <a href="#nogo" class="text-content">
                    <span>Sed perspiciatis</span> </a>
                </div><!--IMAGE-CONTENT-->
              </div><!--PRODUCT-->
            </div><!--PRODUCT-PARENT-->

          </div><!--PRODUCT-CONTENT-->

        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--PRODUCT-BLOCK-->

</div><!--CONTAINER-BLOCK-->
