<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="title"><a>REGISTER</a></h3>
          <div class="login_block col-md-12 col-sm-12 col-xs-12">

            <form id="login_form">

              <div class="ajax_message"><p style="display:none;"></p></div>

              <div class="login_field col-ms-12 col-sm-12 col-xs-12">
                <label>FIRST NAME : </label>
                <input type="text" id="first_name_register">
              </div><!--LOGIN_FIELD-->

              <div class="login_field col-ms-12 col-sm-12 col-xs-12">
                <label>USERNAME : </label>
                <input type="text" id="user_name_register">
              </div><!--LOGIN_FIELD-->

              <div class="login_field col-ms-12 col-sm-12 col-xs-12">
                <label>EMAIL : </label>
                <input type="text" id="email_register">
              </div><!--LOGIN_FIELD-->

              <div class="login_field col-ms-12 col-sm-12 col-xs-12">
                <label>PASSWORD : </label>

                <div class="password">
                  <input type="password" id="password_login">
                  <div class="show_password">
                    <label class="label_password">Show</label>
                  </div><!--SHOW_PASSWORD-->
                </div><!--PASSWORD-->
              </div><!--LOGIN_FIELD-->

              <div class="login_field col-ms-12 col-sm-12 col-xs-12">
                <label>CONFIRM PASSWORD : </label>
                <input type="password" id="confirm_passwor_register">
              </div><!--LOGIN_FIELD-->

              <div class="button_input col-md-12 col-sm-12 col-xs-12">
                <button id="register" class="btn login_btn" name="commit">Register</button>
              </div><!--BUTTON_INPUT-->

              <div class="login_field col-ms-12 col-sm-12 col-xs-12">

              </div><!--LOGIN_FIELD-->
            </form>

          </div><!--LOGIN_BLOCK-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->
