<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="title"><a>Under Construction</a></h3>
			
			<!-- <div class="site_map col-md-12 col-sm-12 col-xs-12">
				  <ul class="nav nav-tabs nav-justified">
				    <li class="active"><a data-toggle="tab" href="#home">FEEDERS</a></li>
				    <li><a data-toggle="tab" href="#products">SAND WASHERS</a></li>
				    <li><a data-toggle="tab" href="#nesans_oem">CRUSHERS</a></li>
				    <li><a data-toggle="tab" href="#spares">VIBRATORY SCREENS</a></li>
				    <li><a data-toggle="tab" href="#showroom">CONVEYORS</a></li>
				    <li><a data-toggle="tab" href="#contact_us">CONTACT US</a></li>
				  </ul>
				  
				  <div class="tab-content col-md-12 col-sm-12 col-xs-12 no-padding">
				    <div id="home" class="tab-pane fade in active">
				      <h3>FEEDERS</h3>
				      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				    <div id="products" class="tab-pane fade">
				      <h3>SAND WASHERS</h3>
				      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				    </div>
				    <div id="nesans_oem" class="tab-pane fade">
				      <h3>CRUSHERS</h3>
				      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
				    </div>
				    <div id="spares" class="tab-pane fade">
				      <h3>VIBRATORY SCREENS</h3>
				      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				    </div>
				    <div id="showroom" class="tab-pane fade">
				      <h3>CONVEYORS</h3>
				      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				    </div>
				    <div id="contact_us" class="tab-pane fade">
				      <h3>CONTACT US</h3>
				      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				    </div>
				  </div>
				  
				  <div class="device-content col-md-12 col-sm-12 col-xs-12 no-padding">
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <h3>FEEDERS</h3>
				      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				    
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <h3>SAND WASHERS</h3>
				      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				    </div>
				    
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <h3>CRUSHERS</h3>
				      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
				    </div>
				    
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <h3>VIBRATORY SCREENS</h3>
				      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				    </div>
				    
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <h3>CONVEYORS</h3>
				      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				    </div>
				    
				    <div class="col-md-12 col-sm-12 col-xs-12">
				      <h3>CONTACT US</h3>
				      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
				    </div>
				  </div>
  
			</div><!--SITE_MAP->		

			 
			 <div class="faq_block col-md-12 col-sm-12 col-xs-12 no-padding">
			 	<div class="quest_block col-md-12 col-sm-12 col-xs-12">
			 		<div class="faq_quest col-md-12 col-sm-12 col-xs-12">
			 			<h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa?</h3>
			 		</div><!--FAQ_QUEST->
			 		
			 		<div class="faq_answer col-md-12 col-sm-12 col-xs-12">
			 			<a href="#nogo" class="quit">x CLOSE</a>
		 				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
		 					eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		 				</p>
		 			</div>
			 	</div><!--QUEST_BLOCK->
			 	
			 	<div class="quest_block col-md-12 col-sm-12 col-xs-12">
			 		<div class="faq_quest col-md-12 col-sm-12 col-xs-12">
			 			<h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa?</h3>
			 		</div><!--FAQ_QUEST->
			 		
			 		<div class="faq_answer col-md-12 col-sm-12 col-xs-12">
			 			<a href="#nogo" class="quit">x CLOSE</a>
		 				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
		 					eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		 				</p>
		 			</div>
			 	</div><!--QUEST_BLOCK->
			 	
			 	<div class="quest_block col-md-12 col-sm-12 col-xs-12">
			 		<div class="faq_quest col-md-12 col-sm-12 col-xs-12">
			 			<h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa?</h3>
			 		</div><!--FAQ_QUEST->
			 		
			 		<div class="faq_answer col-md-12 col-sm-12 col-xs-12">
			 			<a href="#nogo" class="quit">x CLOSE</a>
		 				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
		 					eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		 				</p>
		 			</div>
			 	</div><!--QUEST_BLOCK-->
			 </div><!--FAQ->
          -->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->
