<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="title"><a>Under Construction</a></h3>

          <!--<div class="site_map col-md-12 col-sm-12 col-xs-12">
            <h4 class="title"><a >Products</a></h4>
            <ul class="nav nav-tabs nav-justified">
              <li class="active"><a data-toggle="tab" href="#feeders">FEEDERS</a></li>
              <li><a data-toggle="tab" href="#sand_washers">SAND WASHERS</a></li>
              <li><a data-toggle="tab" href="#crushers">CRUSHERS</a></li>
              <li><a data-toggle="tab" href="#screens">SCREENS</a></li>
              <li><a data-toggle="tab" href="#conveyors">CONVEYORS</a></li>
            </ul>

            <div class="tab-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <div id="feeders" class="tab-pane fade in active">
                <ul>
                  <li><a href="/products/feeders/vibratory-feeder">Nesans FH Series Vibratory Feeders</a></li>
                  <li><a href="/products/feeders/pan-feeders">Nesans FJ Series Pan Feeders</a></li>
                  <li><a href="/products/feeders/grizzly-feeder">Nesans FG Series Grizzly Feeders</a></li>
                  <li><a href="/products/feeders/screw-feeder">Nesans FK Series Screw Feeders</a></li>
                  <li><a href="/products/feeders/belt-feeder">Nesans FI Series Belt Feeders</a></li>
                </ul>
              </div>

              <div id="sand_washers" class="tab-pane fade">
                <ul>
                  <li><a href="/products/sand-washers/screw-classifier">Nesans SW P Series Screw Classifiers</a></li>
                  <li><a href="/products/sand-washers/sand-making-machine">Nesans SW C Series Sand Washing Machines</a></li>
                </ul>
              </div>

              <div id="crushers" class="tab-pane fade">
                <ul>
                  <li><a href="/products/crushers/hsi-crusher">Nesans CE Series Impact Crushers</a></li>
                </ul>
              </div>

              <div id="screens" class="tab-pane fade">
                <ul>
                  <li><a href="/products/vibratory-screens/eccentric-screens">Nesans VM Series Eccentric Vibrating Screens</a></li>
                  <li><a href="/products/vibratory-screens/dewatering-screen">Nesans SW D Series Dewatering Screens</a></li>
                  <li><a href="/products/vibratory-screens/linear-screens">Nesans VN Series Linear Vibrating Screens</a></li>
                  <li><a href="/products/vibratory-screens/wet-screens">Nesans VO Series Wet Vibrating Screens</a></li>
                </ul>
              </div>

              <div id="conveyors" class="tab-pane fade">
                <ul>
                  <li><a href="/products/conveyors/Multipurpose Belt Conveyors">Nesans Multipurpose Belt Conveyors</a></li>
                </ul>
              </div>

            </div>

            <div class="device-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>FEEDERS</h3>
                <ul>
                  <li><a href="/products/feeders/vibratory-feeder">Nesans FH Series Vibratory Feeders</a></li>
                  <li><a href="/products/feeders/pan-feeders">Nesans FJ Series Pan Feeders</a></li>
                  <li><a href="/products/feeders/grizzly-feeder">Nesans FG Series Grizzly Feeders</a></li>
                  <li><a href="/products/feeders/screw-feeder">Nesans FK Series Screw Feeders</a></li>
                  <li><a href="/products/feeders/belt-feeder">Nesans FI Series Belt Feeders</a></li>
                </ul>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>SAND WASHERS</h3>
                <ul>
                  <li><a href="/products/sand-washers/screw-classifier">Nesans SW P Series Screw Classifiers</a></li>
                  <li><a href="/products/sand-washers/sand-making-machine">Nesans SW C Series Sand Washing Machines</a></li>
                </ul>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>CRUSHERS</h3>
                <ul>
                  <li><a href="/products/crushers/hsi-crusher">Nesans CE Series Impact Crushers</a></li>
                </ul>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>SCREENS</h3>
                <ul>
                  <li><a href="/products/vibratory-screens/eccentric-screens">Nesans VM Series Eccentric Vibrating Screens</a></li>
                  <li><a href="/products/vibratory-screens/dewatering-screen">Nesans SW D Series Dewatering Screens</a></li>
                  <li><a href="/products/vibratory-screens/linear-screens">Nesans VN Series Linear Vibrating Screens</a></li>
                  <li><a href="/products/vibratory-screens/wet-screens">Nesans VO Series Wet Vibrating Screens</a></li>
                </ul>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>CONVEYORS</h3>
                <ul>
                  <li><a href="/products/conveyors/Multipurpose Belt Conveyors">Nesans Multipurpose Belt Conveyors</a></li>
                </ul>
              </div>
            </div>

            <h4 class="title"><a >About</a></h4>
            <ul>
              <li><a href="/about-us">About Nesans OEM</a></li>
              <li><a href="/privacy-policy">Our Privacy Policy</a></li>
              <li><a href="/terms-of-use">Terms and Use</a></li>
              <li><a href="/trademarks">Trademarks</a></li>
            </ul>

            <h4 class="title"><a>Resources</a></h4>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/downloads">Downloads</a></li>

          </div><!--SITE_MAP->


          <div class="faq_block col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="quest_block col-md-12 col-sm-12 col-xs-12">
                  <div class="faq_quest col-md-12 col-sm-12 col-xs-12">
                      <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa?</h3>
                  </div><!--FAQ_QUEST->

                  <div class="faq_answer col-md-12 col-sm-12 col-xs-12">
                      <a href="#nogo" class="quit">x CLOSE</a>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </p>
                  </div>
              </div><!--QUEST_BLOCK->

              <div class="quest_block col-md-12 col-sm-12 col-xs-12">
                  <div class="faq_quest col-md-12 col-sm-12 col-xs-12">
                      <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa?</h3>
                  </div><!--FAQ_QUEST->

                  <div class="faq_answer col-md-12 col-sm-12 col-xs-12">
                      <a href="#nogo" class="quit">x CLOSE</a>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </p>
                  </div>
              </div><!--QUEST_BLOCK->

              <div class="quest_block col-md-12 col-sm-12 col-xs-12">
                  <div class="faq_quest col-md-12 col-sm-12 col-xs-12">
                      <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa?</h3>
                  </div><!--FAQ_QUEST->

                  <div class="faq_answer col-md-12 col-sm-12 col-xs-12">
                      <a href="#nogo" class="quit">x CLOSE</a>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                      </p>
                  </div>
              </div><!--QUEST_BLOCK->
        </div><!--FAQ->
          -->

          <div class="login_block col-md-12 col-sm-12 col-xs-12">

            <form id="login_form">

              <div class="ajax_message"><p>invalid password</p></div>
              <div class="login_field col-ms-12 col-sm-12 col-xs-12">
                <label>USERNAME : <span>I forgot!!</span></label>
                <input type="text" value="" id="user_name_login">
              </div><!--LOGIN_FIELD-->

              <div class="login_field col-ms-12 col-sm-12 col-xs-12">
                <label>PASSWORD : <span>I forgot!!</span></label>

                <div class="password">
                  <input type="password" value="" id="password_login">
                  <div class="show_password">
                    <label class="label_password">Show</label>
                  </div><!--SHOW_PASSWORD-->
                </div><!--PASSWORD-->
              </div><!--LOGIN_FIELD-->

              <div class="button_input col-md-12 col-sm-12 col-xs-12">
                <button class="btn" value="" name="commit">LogIn</button>
              </div><!--BUTTON_INPUT-->

              <div class="login_field col-ms-12 col-sm-12 col-xs-12">

              </div><!--LOGIN_FIELD-->
            </form>

          </div><!--LOGIN_BLOCK-->

        </div><!--CONTENT-->

    </div><!--ROW-->
  </div><!--CONTAINER-->
</div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->
