<div id="wrapper">
<header>
  <div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="logo col-md-5 col-sm-5 col-xs-12 no-padding">
          <a href="#nogo"><img src="/images/logo.png" class="img-responsive" alt="logo"/></a>
        </div><!--LOGO-->

        <div class="social-icon col-md-7 col-sm-7 col-xs-12 no-padding">
          <ul class="list-inline">
            <li><a href="#nogo"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-envelope"></span></a></li>
          </ul>

	        <div class="search">
	          <span><a href="#nogo"><span class="fa fa-search"></span></a></span>
            <input type="text" placeholder="..search">
	        </div>
	       </div>


<!-- <div class="menublock col-md-10 col-sm-10 col-xs-12">
<ul class="menu">
<li><a href="#nogo">MENU 1</a></li>
<li><a href="#nogo">MENU 2</a></li>
<li><a href="#nogo">MENU 3</a></li>
<li><a href="#nogo">MENU 4</a></li>
<li><a href="#nogo">MENU 5</a></li>
</ul>
</div><!--MENUBLOCK-- -->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--HEADER-TOP-->

  <div class="menublock col-md-12 col-sm-12 col-xs-12">
    <div class="container no-padding">

      <div class="row no-margin">
        <ul class="menu">
          <li><a href="#nogo">HOME</a></li>
          <li><a href="#nogo">PRODUCTS</a></li>
          <li><a href="#nogo">NESANS OEM</a></li>
          <li><a href="#nogo">SPARES</a></li>
          <li><a href="#nogo">SHOWROOM</a></li>
          <li><a href="#nogo">CONTACT US</a></li>
        </ul>

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--MENUBLOCK-->

  <div class="banner col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="/images/1.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="/images/2.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="/images/3.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="/images/4.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
        <li>
          <img src="/images/5.png" class="img-responsive" alt="banner">
          <div class="banner-content wow bounceInUp" data-wow-delay="2s">
            <h2><a href="#nogo">Cras convallis</a></h2>
          </div><!--BANNER-CONTENT-->
        </li>
      </ul>
    </div>
  </div><!--BANNER-BLOCK-->


</header>

<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
	<div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
         	<h3 class="big odd"><a href="#nogo">SUMMARY BLOCK </a></h3>
         	
         	<div class="summary-text col-md-12 col-sm-12 col-xs-12 no-padding">
         		<div class="text-content col-md-12 col-sm-12 col-xs-12 no-padding">
					<h4><a href="#nogo">SUMMARY HEADING</a></h4>
         			<p>Robotics has achieved its greatest success to date in the world of industrial manufacturing. 
         				Robot arms, or manipulators, comprise a $2 billion industry. Bolted at its shoulder to a specific position in the assembly line, 
         				the robot arm can move with great speed and accuracy to perform repetitive tasks such as spot welding and painting. In the electronics industry, manipulators place surface-mounted components with superhuman precision, making the portable telephone and laptop computer possible. Yet, for all of their successes, these commercial robots suffer from a fundamental disadvantage: lack of mobility. A fixed manipulator has a limited range of motion that depends on where it is bolted down. In contrast, a mobile robot would be able to travel throughout the manufacturing plant, flexibly applying its talents wherever it is most effective. This workshop focuses on the technology of mobility: how can a mobile robot move unsupervised through real-world environments to fulfill its tasks? How should a mobile robot move?
         			</p>
         			
         			<h4><a href="#nogo">SUMMARY HEADING</a></h4>
         			<p>Robotics has achieved its greatest success to date in the world of industrial manufacturing. 
         				Robot arms, or manipulators, comprise a $2 billion industry. Bolted at its shoulder to a specific position in the assembly line, 
         				the robot arm can move with great speed and accuracy to perform repetitive tasks such as spot welding and painting. In the electronics industry, manipulators place surface-mounted components with superhuman precision, making the portable telephone and laptop computer possible. Yet, for all of their successes, these commercial robots suffer from a fundamental disadvantage: lack of mobility. A fixed manipulator has a limited range of motion that depends on where it is bolted down. In contrast, a mobile robot would be able to travel throughout the manufacturing plant, flexibly applying its talents wherever it is most effective. This workshop focuses on the technology of mobility: how can a mobile robot move unsupervised through real-world environments to fulfill its tasks? How should a mobile robot move?
         			</p>
         			
         			<h4><a href="#nogo">SUMMARY HEADING</a></h4>
         			<p>Robotics has achieved its greatest success to date in the world of industrial manufacturing. 
         				Robot arms, or manipulators, comprise a $2 billion industry. Bolted at its shoulder to a specific position in the assembly line, 
         				the robot arm can move with great speed and accuracy to perform repetitive tasks such as spot welding and painting. In the electronics industry, manipulators place surface-mounted components with superhuman precision, making the portable telephone and laptop computer possible. Yet, for all of their successes, these commercial robots suffer from a fundamental disadvantage: lack of mobility. A fixed manipulator has a limited range of motion that depends on where it is bolted down. In contrast, a mobile robot would be able to travel throughout the manufacturing plant, flexibly applying its talents wherever it is most effective. This workshop focuses on the technology of mobility: how can a mobile robot move unsupervised through real-world environments to fulfill its tasks? How should a mobile robot move?
         			</p>
         			
         			<h4><a href="#nogo">SUMMARY HEADING</a></h4>
         			<p>Robotics has achieved its greatest success to date in the world of industrial manufacturing. 
         				Robot arms, or manipulators, comprise a $2 billion industry. Bolted at its shoulder to a specific position in the assembly line, 
         				the robot arm can move with great speed and accuracy to perform repetitive tasks such as spot welding and painting. In the electronics industry, manipulators place surface-mounted components with superhuman precision, making the portable telephone and laptop computer possible. Yet, for all of their successes, these commercial robots suffer from a fundamental disadvantage: lack of mobility. A fixed manipulator has a limited range of motion that depends on where it is bolted down. In contrast, a mobile robot would be able to travel throughout the manufacturing plant, flexibly applying its talents wherever it is most effective. This workshop focuses on the technology of mobility: how can a mobile robot move unsupervised through real-world environments to fulfill its tasks? How should a mobile robot move?
         			</p>
         		</div><!--TEXT-CONTENT-->
         		<!-- <img src=""> -->
         	</div><!--SUMMARY-TEXT-->         
         
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->

<div class="footer col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="footer-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="address-block col-md-4 col-sm-4 col-xs-12">
            <h4>CONTACT US</h4>

            <p>Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim.</p>
          </div><!--ADDRESS-BLOCK-->

          <div class="social-link col-md-4 col-sm-4 col-xs-12">
            <h4>FOLLOW US</h4>

            <ul class="list-unstyled">
              <li><a href="#nogo"><span class="fa fa-facebook"></span> - Katomaran India</a></li>
              <li><a href="#nogo"><span class="fa fa-twitter"></span> - Katomaran Technologies</a></li>
              <li><a href="#nogo"><span class="fa fa-linkedin"></span> - Katomaran Robotics</a></li>
              <li><a href="#nogo"><span class="fa fa-mobile"></span> - 1234567890</a></li>
              <li><a href="#nogo"><span class="fa fa-envelope"></span> - robotics@katomaran.com</a></li>
            </ul>
          </div><!--SOCIAL-LINK-->

          <div class="contact-us col-md-4 col-sm-4 col-xs-12">
            <h4>WRITE US</h4>

            <form>
              <input type="text" class="form-control" placeholder="NAME">

              <input type="text" class="form-control"  placeholder="EMAIL">

              <textarea class="form-control"  placeholder="CONTENT"></textarea>

              <div class="submit-btn">
                <input type="button" value="SUBMIT">
              </div>
            </form>
          </div><!--DUMMY-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-TOP-->

  <div class="footer-bottom col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="footer-menu col-md-8 col-sm-8 col-xs-12 no-padding">
            <ul class="list-inline">
              <li><a href="#nogo">MENU 1</a></li>
              <li><a href="#nogo">MENU 2</a></li>
              <li><a href="#nogo">MENU 3</a></li>
              <li><a href="#nogo">MENU 4</a></li>
              <li><a href="#nogo">MENU 5</a></li>
            </ul>
          </div><!--footer-menu-->

          <div class="powered-by col-md-4 col-sm-4 col-xs-12 no-padding">
            <p>@2016 <span>THE GOOD SIDE,</span> CCC TPL</p>
          </div><!--POWERED-BY-->
        </div><!--FOOTER-CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-BOTTOM-->
</div><!--FOOTER-->


</div><!--WRAPPER-->

<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			animationSpeed : 2000,
			controlNav : false,
			easing : "swing",
			touch : true,
			pauseOnHover : true
		});
	});
	$(window).load(function(){
		/* wow script for animation */
		var wow = new WOW().init();
	});


//	$(document).ready(function(){
//		$('header').css("min-height", $(window).height());
//		$(document).on("scroll resize", function(){
//			var windowht = $(window).height();
//			var currentht = $(document).scrollTop();
//			if (currentht > windowht-60){
//				$('.menublock').addClass('fixed-menu');
//			}
//			else {
//				$('.menublock').removeClass('fixed-menu');
//			}
//		});
//	});
</script>
