<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="big odd"><a href="#nogo">Trademarks</a></h3>

          <div class="summary-text col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="text-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <!--<h4><a href="#nogo">SUMMARY HEADING</a></h4>-->
              <p>
                Nesans, Nesans Devices and Nesans Machines are registered trademarks of Nesans Mining and Automation Private Limited.
              </p>

	            <p>
	              Names of Nesans’s Products, Name of Nesans itself, Nesans’s Logo and other digital properties are trademarks or registered trademarks of Nesans Mining and Automation Pvt Ltd. The company follows zero tolerance over infringement of its trademark and copyright rights. Persons who override trademark or copyright laws under law are subject to be sued and prosecuted by the company.
	            </p>

	            <p>
	              All other product names appearing on Nesans Site may be trademark or registered trademarks of other companies. Nesans has full authority to add/edit/remove other company products to/from its website. Nothing on Nesans website shall be taken as granted for further publication/reproduction.
	            </p>

	            <p>
	              Prior permission is strictly necessary to publish/republish the content, images and videos added to the site. Nesans exhibits full authority and sovereignty over thenesans.com
	            </p>

            </div><!--TEXT-CONTENT-->
            <!-- <img src=""> -->
          </div><!--SUMMARY-TEXT-->

        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->
