*{margin:0px;padding:0px;}
a{text-decoration:none;}
img{border:none;}   /*#E6C40A*/
a:hover, a:focus{text-decoration:none;}

body{font-size: 62.5%;background-color:#FFF;font-family: 'Open Sans', sans-serif;}
p{font-size:18px;color:#000;line-height:34px;margin-bottom:25px;font-family: 'Open Sans', sans-serif;;font-weight:300}
h3{font-size:28px;font-weight:bold;text-align:center;margin:25px 0px 50px;text-transform:uppercase;/*text-shadow:2px 2px 1px #000;*/}
h3.odd{color:#0080ff;}
h3.even{color:#fff;}
h3.odd a{color:#0080ff;border-bottom:2px solid #000;}
h3.even a{color:#fff;border-bottom:2px solid #0080ff;}
h3 a{color:#fff;border-bottom:2px solid #000;}
h3.odd span{color:#000;border-bottom:2px solid #0080ff;}
h3.even span{color:#0066CC;border-bottom:2px solid #FFf;}
h3:hover{color:#fff;}
h3.odd a:hover{color:#0080ff;}
h3.even a:hover{color:#fff;}
h3.big{font-size:40px;}
h2{color:#0080ff;}
h2 a{color:#0080ff;}
h2 a:focus, a:hover{color:#0080ff;}

h3.title{border-bottom: 1px solid lightgrey;text-align: left;font-size:35px;color: #0080ff;padding-bottom:2px;padding-left:10px;font-weight:600;}
h3.title a{border-bottom: none;color: #0080ff; font-family: roboto condensed; font-size: 45px; font-weight: 300;}
h4.title{border-bottom:1px solid lightgrey;padding-bottom:0!important;margin-bottom: 25px;}
h4.title a{background-color:#FFF;position:relative;bottom:-7px;padding-right:10px;}

#wrapper{overflow:hidden;}
.container{max-width:1160px;}
.no-padding{padding:0;}
.no-margin{margin:0;}
.no-margin-left{margin-left:0;}
.no-padding-right{padding-right:0;}
.no-padding-left{padding-left:0;}
.text-center{text-align:center!important;}
.text-left{text-align:left!important;}
.text-right{text-align:right!important;}

.content{padding:0px 15px;}
.content p{color:#fff;}

/*header{background-color:}*/

header{overflow:hidden;}

.breadcrumb > li {font-size: 12px;}

/*HEADER-TOP*/
.header-top{padding:5px 0px 10px;background-color:#fff;}
.logo img{height:80px;float:left;transition:all 0.2s ease-in;}

.menublock{padding:0.5% 2%;background-color:rgba(255,255,255,0.5);/*height:60px;*/font-family: 'Josefin Sans', sans-serif;}
.menublock ul{list-style-type:none;margin:0;text-align:center;/*transition: all 0.3s linear 0s;*/}
.menublock ul li{font-size:15px;padding:0px 6px;display:inline-block;min-width:100px;border-top:1px solid #DADADA;border-right:1px solid #DADADA;border-bottom:1px solid #DADADA;}
.menublock ul li:first-child{border-left:1px solid #DADADA;}
.menublock ul li a{color:#000;padding:11px 12px 10px;display:block;position:relative;}
/*.menublock ul li a::after{content:"";position:absolute;top:0;left:0;height:3px;width:0;background-color:#0066CC;transition:all 0.2s ease-in 0s;}
.menublock ul li:hover a::after{width:100%;}*/
.menublock ul li:hover,.menublock ul li.active{background-color:#0066CC; }
.menublock ul li:hover a,.menublock ul li.active a{color:#FFF;}

.d-menu{display:none;}
.menu-icon{background:url("/image/menu-icon1.png") no-repeat scroll 0 0;background-size:100% 100%;width:35px;height:35px;padding:17px;display:block;outline:none;transition:all 0.2s ease-in;}

.fixed{position:fixed;top:0;background-color:#FFF;box-shadow: 5px -2px 5px 1px; transition: all 0.3s linear 0s;opacity:0.96;z-index:1000;padding:8px 0px 8px;border:1px solid #0A85B6!important;}
/*.fixed ul{text-align:right;}*/

/*social-icon*/
.social-icon{text-align:right;padding-top:15px;}
.social-icon li{font-size:25px;padding:0px 8px;}

/*POPUP*/
.popup{width:100%;height:100%;float:left;display:none;}
.popup-bg{position:fixed;top:0;left:0;background-color:#000;width:100%;height:100%;z-index:100;}
.popup-modal{width:60%;padding:2% 5% 2%;background-color:#F8F9FB;position:relative;min-height:275px;border:2px solid #0066cc;margin:5% auto;z-index:1000;}
.popup-modal p span{float:right;width:30px;height:30px;text-align:center;cursor:pointer;margin-right:-6%;font-weight:bold;}
.popup-button{text-align:center;}
.popup-button a{display:inline-block; font-size:16px; padding:10px;background-color:#0080ff;min-width:120px;border:1px solid lightgrey;color:#fff;}
/*.popup-content{background-color:#FFF;}*/

.search{width:auto;float:right;border:1px solid;position:relative;padding-left:3%;height:27px;display:none;}
.search > span{border-right:1px solid #DADADA;position:absolute;height:100%;top:0px;left:0px;width:25px;text-align:center;padding-top:3px;padding-left:1px;}
.search span.fa-search{font-size:18px;color:#0066CC;}
.search input{float:right;font-size:15px;border:none;padding-left:15px;padding-top:1px;width:77px;transition:all 2s linear;}
.search input:focus{width:auto;}

/*BANNER*/
.banner{/*border:2px ridge #FFF;*//*position:absolute;top:0;min-height:640px;*/height:600px;overflow:hidden;}
.banner .flexslider{padding:0;}
.banner .flex-direction-nav li a{background-color:#000;top:23%;display:none;height:60px;}
.banner .flexslider:hover li a{display:block;}
.banner .flex-direction-nav li a.flex-prev{background:url("/image/left-arrow.png") no-repeat scroll 0 0;left:2%;background-size:100% 100%;}
.banner .flex-direction-nav li a.flex-next{background:url("/image/right-arrow.png") no-repeat scroll 0 0;right:2%;background-size:100% 100%;}
.banner .slides li{position:relative;}
.banner .slides li img{position: relative;top: -300px;}

.banner-content{width:40%;float:left;position:absolute;bottom:47.3%;left:10.5%;padding:0;opacity:0.85;background-color: #0066cc;}
.banner-content h2{padding:0 2%;color:#FFF;font-size:30px;font-weight:bold;text-align:center;}
.banner-content h2 a{color:#FFF;}
.banner-content p{padding:0 2%;color:#FFF;text-align:center;font-size:22px;}
.banner-content h3{color:#FFF;background-color:#000;text-align:center;margin-bottom: 0;padding:10px 0;}
.banner-content h3 a{border-bottom:none;}
.flexslider .banner-content{width: 80%;}

.banner-content.one{width:19%;bottom:auto;top:7%;left:auto;right:0%;background-color:#000;padding:0 2% 1%;}
.banner-content.one h2{text-align:right;font-size:45px;margin-bottom: 0;padding:0;}
.banner-content.one p{text-align:right;margin-bottom:0;font-size:18px;padding:0;}

.banner-without-slide,.banner-img{height:auto;}
.banner-without-slide ul{margin-bottom:0;}
.banner-without-slide ul li{text-align:center;}
/*.banner-without-slide ul li img{margin:0px auto;width:100%;position:relative;top:-110px;}*/
.banner-without-slide ul li img{height:100%;}
.banner-text{background-color:#0066cc;padding-top:6%;height:300px;}
.banner-text h2{color:#FFF;}

.design1 .banner-content{background-color:transparent;top:10%;bottom:auto;width:75%;}
.design1 .banner-content h2{font-size:80px;text-align:left;}
.design1 .banner-content h3{background-color:transparent;text-align:left;color:#6ADFFF;font-size:40px;padding:0 2%;}
.design1 .banner-content.one{bottom:49%;left:12%;top:auto;}
.design1 .banner-content.one h3{color:#FFF;font-size:28px;text-align:right;}

.design2 img{top:-120px;}
.design2 .banner-content{width:100%;left:0;top:auto;bottom:53%;background-color:transparent;}
.design2 .banner-content h2{background-color:#0066cc;color:#FFF;padding:10px 0;font-weight:normal;}
.design2 .banner-content h3{color:#0066cc;background-color:transparent;font-weight:normal;}
.design2 .banner-content.one{width:85%;left:8%;top:7%;right:auto;}
.design2 .banner-content.one h2{background-color:transparent;font-weight:bold;text-align:center;color:#FFCC00;font-size:90px;}

.design3 .banner-content{width:55%;bottom:auto;left:15%;top:7%;background-color:transparent;padding-left:3%;}
.design3 .banner-content h2{font-size:64px;text-align:left;padding:0 0 12px;border-bottom:15px solid #05B4EE;}
.design3 .banner-content h3{background-color:transparent;color:#05B4EE;font-size:38px;font-weight:normal;text-align:left;}
.design3 .banner-content p{font-weight:400;text-align:left;padding:0;}

.design4 .banner-content{width:80%;bottom:auto;top:23%;background-color:transparent;padding:0 15.5%;}
.design4 .banner-content h3{background-color:transparent;margin-bottom:16px;}
.design4 .banner-content p:first-of-type{padding:0 1%;margin-bottom:12px;}
.design4 .banner-content p:last-of-type{text-align:left;padding:3% 2.5%;background-color:rgba(0, 0, 0, 0.9);}
.design4 .banner-content p span{display:block;border-bottom:10px solid #FFCC00;}
.design4 .banner-content.one{width:80%;top:10%;left:10.5%;padding:0;}
.design4 .banner-content.one h2{text-align:center;font-size:80px;font-weight:normal;}

/*.container-block{background-color:#000;}*/
.intro-block{/*padding:5% 0;background-color:#999999;*//*background-color:rgba(0, 102, 204, 0.8);*/}
.intro-block .content{/* background-color:rgba(0, 102, 204, 0.8); */padding:4% 2%;}
.intro-block p{line-height:34px;text-align:justify;color:#000;}

/*DESCRIPTION-BLOCK*/
.description-block{padding:5% 0;
    background: #5eaae5; /* Old browsers */
    background: -moz-linear-gradient(top,  #5eaae5 0%, #1e75cc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5eaae5 0%,#1e75cc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5eaae5 0%,#1e75cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eaae5', endColorstr='#1e75cc',GradientType=0 ); /* IE6-9 */
}
.description-parent{width:20%;float:left;padding:0 10px;transition:all 0.3s ease-in;}
.mini-desc{border:1px solid #fff;text-align: center;padding:10px 10px;min-height:400px;position:relative;cursor: pointer;}
.mini-desc h4{margin:15px 0;color:#fff;text-transform: uppercase;}
.mini-desc h4 a{color:#fff;position: relative;}
.mini-desc p{font-size:16px;position: relative;color:#fff;}
.mini-desc span{position:absolute;bottom:0;left:0;width:100%;height:5px;background-color: #4da6ff;z-index:0;transition:all 0.3s linear;}
/*.description-parent:hover .mini-desc{background-color: #0066CC;}*/
.description-parent:hover{transform:scale(1.1,1.1);}
.description-parent:hover .mini-desc h4 a,.description-parent:hover .mini-desc p{color:#fff;z-index:10;}
.description-parent:hover .mini-desc span{height:100%;}

/*INFO-BLOCK*/
.article-block,.info-block{padding:5% 0;}
/*.info-block.first{padding-top:2%;}*/
.info-block h3.big{margin-bottom:6%;}
.info-block.odd{background-color:#FFF;}
.info-block .image-block img{/*border:2px solid #0066CC; */min-height:450px;}
/*.info-block .image-block:hover img{border:1px solid #0066CC;}*/
.info-block p{color:#FFF;margin-bottom:30px;}
.info-block p::first-letter{font-size:32px;font-weight:bold;}

.read-more{width:100%;float:left;}
.read-more a{font-size:16px;color:#000;display:inline-block;font-weight:bold;min-width:180px;border:2px solid #000;border-radius:5px;background-color:#0066CC;padding:10px 10px 5px;position:relative;transition:all 0.4s ease-in 0s;z-index:1;overflow:hidden;}
.read-more a:hover{color:#000;border:2px solid #0066CC;}
.read-more a::after{content:"";position:absolute;display:inline-block;background-color:#FFF;height:100%;left:0;top:0;width:0;z-index:-1;transition:width 0.2s ease-out 0s;}
.read-more a:hover::after{width:100%;}
.info-block .text-block h3{line-height:50px;}

.info-block.odd p{color:#000;}
.info-block.odd .text-block{padding-left:3%;text-align:left;}
.info-block.odd .text-block h3{text-align:left;}
.info-block.odd .image-block img{border:2px solid transparent;}
.info-block.odd .read-more{text-align:right;}
.info-block.odd .read-more a{text-align:center;}

.info-block.even .text-block{padding-right:3%;text-align:right;float:left;}
.info-block.even .image-block{float:right;}
.info-block.even .text-block h3{text-align:right;}
.info-block.even{
    background: #8c8c8c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #8c8c8c 0%, #404040 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #8c8c8c 0%,#404040 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #8c8c8c 0%,#404040 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#404040',GradientType=1 );  IE6-9 fallback on horizontal gradient */

}
.info-block.even .read-more{text-align:left;}
.info-block.even .read-more a{text-align:center;}

.info-block .img-hover{overflow:hidden;}
.info-block .img-hover:hover img{transform:scale(1.2,1.2);}


/*CONTACT-BLOCK*/
.contact-block{padding:4% 0;}
.contact-block p{color:#000;}
.contact-block h4{margin-bottom:20px;font-size:26px;}
.contact-block h4 a{color:#000;}
.contact-form{padding-top:2%;}
.contact-form h4{margin-bottom:30px;}
.contact-form p{height:50px;}
.contact-form input,.contact-form textarea{width:100%;border:1px solid transparent;border-bottom:1px solid lightgrey;}
.contact-form .form-white{display:inline-block;}
.contact-left h4{text-align:center;}
.contact-left,.contact-right{padding:0 5%;min-height:745px;}
.contact-right h4{text-align:center;}
.contact-form .button_input{padding-top:6%;text-align:center;}
.contact-form .button_input .btn{border: 1px solid #0080ff;color: #004080;letter-spacing: 1px;margin: 1% 2%;text-transform: capitalize;padding: 3% 6%;font-size: 12px;background-color: transparent;font-weight: 400;}
.contact-form .button_input .btn:hover,.contact-form .button_input .btn:focus{background-color: #80bfff;color: #fff;}
.contact-form .button_input.single{padding-top:35%;display:none;}
.contact-form h4 {text-transform: capitalize; text-decoration: underline;}

.contact-content{padding:10% 0 2%;}
.contact-content p span{font-weight:bold;display:inline-block;width:25%;}
.contact-content ul{text-align:center;}
.contact-content ul li{font-size:25px;color:#333;display:inline-block;padding:0 15px;}
.contact-content ul li span{transition:all 0.2s ease-in;}
.contact-content ul li a{color:#333;}
.contact-content ul li:hover a{color:#0080ff;}
.contact-content ul li:hover span{transform:scale(1.2,1.2);}

.contact-content .contact-left,.contact-content .contact-right{min-height:0;}

#contact_map{width:100%;height:400px;}

/*TIMELINE-BLOCK*/
.timeline-block{padding:5% 0 5%;}
.timeline{border-radius:5px;}
.time-block{margin-bottom:5%;}
.time-block:last-child{margin-bottom:0;}
.keep-right{float:right;}
.time-block.keep-right .timeline{float:right;}
.timeline .time-head{background-color:#0066CC;padding:10px 10px 5px;position:relative;border-top-right-radius:5px;border-top-left-radius:5px;}
.timeline .time-head span{width:30px;height:20px;float:left;position:absolute;right:-10px;background-color:#0066CC;transform:rotate(45deg);z-index:-1;}
.time-block.keep-right .timeline .time-head span{left:-10px;top:37%;}
.timeline .time-head h3{color:#000;margin:0;text-align:center;text-shadow:none;z-index:10;}
.timeline .time-head h3 a{color:#000;border-bottom:none;}

.time-content{padding:2% 5px 0;border-width:1px 3px 3px 1px;border-style:solid;border-color:transparent #8c8c8c #8c8c8c #8c8c8c;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.time-block .time-icon{padding-right:11%;padding-left:7%;}
.time-block.keep-right .time-icon{padding-left:10.5%;padding-right:7.5%;}
.time-icon .content{padding:0;border-radius:50%;background-color:#000;overflow:hidden;text-align:center;}
.time-block .time-icon span{background-color:#000;color:#0066CC;border-radius:50%;font-size:45px;padding-left:1px;padding-top:1px;}

/*PRODUCT-BLOCK*/
.product-block{min-height:400px;background-color:#FFF;padding:3% 0;}
.product-content{margin-bottom:7%;}
.product-content:last-child{margin-bottom:0;}
.product-without-slide{text-align:center;}
.product-without-slide .product-parent{float:none;display:inline-block;vertical-align:top;}
.product-parent{padding:0 5%;}
.product{position:relative;overflow:hidden;border:2px solid transparent;}
.product .image-content{transition:all 0.2s ease-in;}
.product .text-content{background-color:#fff;display:block;width:100%;height:auto;position:absolute;left:0;bottom:0;padding:3% 4%;color:#000;font-size:24px;line-height:24px;opacity:0.6;text-align:right;transition:all 0.2s linear;}
.product .text-content span{/*position:absolute;right:10%;bottom:10%;*/transition:all 0.2s ease-in;width:100%;}
.product-parent:last-child .product .text-content{text-align:left;}

.product:hover{border-color:#0066cc;}
.product:hover .image-content{transform:scale(0.95);}
.product:hover .text-content{background-color:#0066cc;}
.product:hover .text-content span{color:#fff;}
/*.product:hover .text-content span{font-weight:bold;transform:scale(1.3,1.3);left:15%;padding-right:5%;}*/
/*.product-parent:last-child .product:hover .text-content span{right:14%;left:auto;*padding-left:5%;}*/

/*SUMMARY-BLOCK*/
.summary-block{padding:4% 0;}
.summary-block p, .summary-block li{color:#000;font-size:18px!important;font-weight: 300!important;line-height: 34px;}
.summary-block li{padding-left: 15px;list-style:none;}
.summary-block li::before{content:"\2022";margin-right:10px;font-size:18px;}
.summary-block p span{font-size:18px!important;line-height: 34px!important;}
.summary-block h3.big{text-align:center;}
.summary-block h4{font-size:30px;color:#000;text-align:left;padding-bottom: 15px;}
.summary-block h4 a{color:#000;}
.summary-block table { border: 1px solid; margin: 0 auto; width: 80%; }
.summary-block td{text-align: center; border: 1px solid;padding: 5px 0;}
.summary-block td p{margin: 0}

.about-us-head{padding:1% 0 4%;}
.about-us-head h4{padding: 1%;}


/*FORM-BLOCK*/
.form-block{padding:3% 0 4%;}
.form-block h2{margin-bottom:3%;}

.form-left{padding:2% 3% 0 4%;float:left;}
.form-right{padding:2% 4% 0 3%;float:left;}
.s_btn{text-align:right;width: 100%;}
.s_btn button{background-color: #fff;border-bottom:2px double #38c2d4;display: inline-block;min-width:115px;}
.form-group{margin-bottom:22px;}

.form-black, .form-white {background-color: transparent;border: none;display: block;font-size: 14px;height: auto;line-height: 1.42587;padding: 6px;transition: border-color 0.15s ease-in-out 0s; width: 100%; letter-spacing: 2px;}
.form-black{color: gray;border-bottom: 1px solid gray;}
.form-black:focus{border-bottom: 1px solid #fff; color: #fff;}

.form-white{color: #000;border-bottom: 1px solid lightgray; }
.form-white:focus{border-bottom: 1px solid #000; color: #000;}

.form--right, .form--left{width:46%; margin: 1%  2%; height: 50px;}
.form--left{float: left;}
.form--right{float: right;}
.form--content{float: left;width: 96%; margin: 2%;}
.align_center{text-align: center;}
.new_article .btn,.form-block .btn{margin: 1% 2%;border:1px solid #000;font-weight:bold;text-transform:capitalize;letter-spacing:1px;color:#000;}
.new_article .btn a{color:#000;}
.new_article .btn:hover,.form-block .btn:hover{background-color:#0066cc;color:#FFF;}
.new_article .btn:hover a{color:#FFF;}
.form--right input{margin-top: 1%;}
div.cs-skin-elastic{margin: 0 0 0 1%;font-size:15px;}
.alert{font-size: 15px;text-align: center;}
span.cs-placeholder{text-transform: capitalize;}

#article_content_ifr{min-height:350px;}

.article-content{height:140px;margin: 2%;padding: 2%;}
.article-content-true{border: 1px solid #30ca71;}
.article-content-true h3,.article-content-true h3:hover{color:#30ca71;}
.article-content-false{border: 1px solid #ff4d4d;}
.article-content-false h3,.article-content-false h3:hover{color:#ff4d4d;}
.article-list-block h3{margin:8px 0 25px;text-align:left;font-size:22px;}

.article-content p{color: #0066cc;font-size: 18px;margin: 0;padding-top: 20px;text-align: right;width: 100%;}

/*SITE_MAP*/
.site_map .nav li{padding-left:0;margin-bottom:0;font-size:18px!important;border:2px solid transparent;position:relative;bottom:-2px;border-radius:3px;}
.site_map .nav li a{outline:none;font-weight:400;color:#000;min-height:60px;z-index:10;padding:10px 5px 5px;border-color:transparent!important;}
.site_map .nav li.active{border:2px solid #0080ff;border-bottom-color:#FFF;z-index:10;}
.site_map .nav li.active a{color:#0080ff;}
.site_map .nav li:hover a{background-color:lightgray;}
.site_map .nav li.active:hover a{background-color:#FFF;z-index:10;}
.site_map .nav li::before{content:"";font-size:0px;margin:0;}
/*.site_map .nav li a:focus{border-bottom:1px solid #0080ff;}*/
.site_map h3{margin-bottom:20px;}
.site_map h3:hover{color:inherit;}
.site_map .tab-content{padding:2%;border-top:2px solid #0080ff;}

.site_map .device-content{display:none;}


/*FAQ_BLOCK*/
.faq_block h3{text-align:left;font-size:24px;margin-bottom:5px;text-transform:initial;font-weight:lighter;}
.faq_block h3:hover{color:inherit;}
.quest_block{background-color:#FFF;padding:10px 20px 10px;margin-bottom:20px;border-radius:10px;}
.quest_block:hover, .quest_block_active{background-color:#EEE;}

.faq_quest{cursor:pointer;}
.faq_answer{display:none;padding:0 2%;text-align:right;}
.faq_answer p{padding:10px 15px;background-color:#cce6ff;border-radius:10px;text-align:left;margin-top:10px;}
a.quit{font-size:14px;color:lightred;display:inline-block;margin-right:5px;color:#ff3333;border-radius:8px;padding:3px 8px;margin-bottom:5px;}
a.quit:hover{background-color:#FFF;}

/*FOOTER*/
.footer{ background-color:rgb(74,77,81); padding:4.5% 0 0;}
.footer p{color:#8C8C8C; font-size: 16px;}
.footer.no-shadow{box-shadow:none;-moz-box-shadow:none;-webkti-box-shadow:none;}

.footer-top{padding-bottom:1%;}
.footer-top .footer-content .col-md-4{padding:0px 3.5%;}
.footer-top h4{border-bottom:2px groove #eeefef;padding:18px 0px 10px;margin-bottom:25px;text-align:center;color:#fff;font-size:18px;letter-spacing:1px;word-spacing:5px;font-family: Josefin Slab;font-weight: bold;}
.footer-top ul{padding-left:8%;text-align:left;}
.footer-top  ul li{font-size:16px;margin-bottom:6px;}
.footer-top ul li a{color:#ddd;font-family: "Josefin Slab",serif;font-size: 18px;display:block;transition:all 0.2s linear;}
.footer-top ul li:hover a{color:#fff;padding-left:15px;border-left:1px solid #FFF;}
.footer-top ul li:hover{cursor: pointer;}

.social-link{padding-top:5px;text-align:center;float:none;display:inline-block;}
.social-link ul{padding-left:8%;margin:0;}
.social-link ul li{margin-bottom:12px;transition: all 0.3s linear;}
.social-link ul li a{color:#999;padding:0px 7px;}
.social-link ul li:hover a{color:#0080ff;border-left:none;}
.social-link ul li:hover{cursor: pointer;}
.social-link ul li img{border-radius:50%;border:2px solid transparent;}
.social-link ul li img:hover{border:2px solid #0066CC;}
.social-link ul li span{margin-right:5px;font-size:25px;width:20px;top:2px;text-align:center;}

.footer-bottom { padding:1.5% 0%;}
.footer-bottom .footer-content { border-top: 1px solid lightgray; padding: 25px 2.5% 0;}
.copyright{float:left;text-align: left;}
.powered-by{float:right;text-align: right;}
.footer-bottom p{color:#999;margin-bottom:0;font-size:16px;}
.footer-bottom p span{color:#fff;font-weight:bold;}


/*--MEDIA QUERIES*/

@media only screen and (min-width:1024px) and (max-width:1200px){
	p{line-height:28px;margin-bottom:20px;}
    h3{font-size:26px;}
    h3.title{margin-bottom:20px;}
    h3.title a{font-size:36px;}

    .banner{height:468px;}
    .banner-content{bottom:38.5%;}
    .banner-content h2{font-size:22px;}
    .banner-content p{font-size:18px;}
    .banner-content h3{margin-top:0;font-size:18px;}
    .banner-content.one{top:5%;width:18%;}
    .banner-content.one h2{font-size:26px;}
    .banner .slides li img{top:-200px;}
    
    .design1 .banner-content h2{font-size:70px;}
    .design1 .banner-content h3{font-size:35px;}
    .design1 .banner-content.one{width:81%;bottom:39%;}
    .design1 .banner-content.one h3{font-size:26px;}
    
    .design2 .banner-content.one{top:1%;}
    .design2 .banner-content.one h2{font-size:80px;}
    
    .design3 .banner-content{width:65%;}
    .design3 .banner-content.one h2{font-size:55px;}
    .design3 img{top:-140px;}
    
    .design4 .banner-content{padding:0 3%;top:26%;}
    .design4 .banner-content h3{font-size:28px;}
    .design4 .banner-content.one{top:7%;}
    .design4 .banner-content.one h2{font-size:70px;}
    
    .banner-without-slide,.banner-text,.banner-img{height:280px;}
    .banner-text{padding-top:8.5%;}
    .banner-text h2{font-size:22px;}
    .banner-without-slide ul li img{top:-50px;}

	.intro-block{padding:5% 0 4%;}
    .intro-block .content{padding:2% 1%;}
	.intro-block h3{font-size:34px;margin-top:10px;margin-bottom:20px;}
	.info-block .text-block{float:none;width:100%;}
	.info-block.even .text-block{float:none;width:100%;}
	.info-block.odd .text-block{padding-left:0;}
	.info-block.even .text-block{padding-right:0;}
	.info-block .text-block h3{margin-top:0;margin-bottom:15px;}
	.info-block p{margin-bottom:10px;}

	.about-us-head{padding:1% 0 2%;}
	.about-us-head h4{padding:0.5%;}
	
	.summary-block h4{font-size:28px;padding-bottom:10px;}
	.summary-block p, .summary-block li{line-height:30px;}
	
    .time-block .time-icon span{font-size:40px;}

    .copyright p span,.powered-by p span{display:block;}
    .social-link{padding-top:12px;}
}


@media only screen and (min-width:755px) and (max-width:970px){
	h3{margin-bottom:40px;font-size:24px;}
	p{line-height:30px;font-size:16px;}
	h3.title{margin-bottom:15px;}
    h3.title a{font-size:34px;}

    .social-icon{padding-right:3.3%;}

	.menublock{padding:15px 0 5px;}
	.menublock ul li{font-size:14px;min-width:0;}

    .banner{height:276px;}
    .banner-content{bottom:52%;width:90%;left:5%;padding-top:2px;opacity:0.65;}
    .banner-content h2{font-size:15px;margin:8px 0px 0px;}
    .banner-content p{font-size:14px;margin-bottom:2px;}
    .banner-content h3{margin-top:0;font-size:15px;}
    .banner-content.one{top:2%;width:18%;padding:0 2% 0.3%;}
    .banner-content.one h2{font-size:20px;}
    .banner-content.one  p{font-size:15px;}
    .banner .slides li img{top:-172px;}
    
    .design1 .banner-content{top:5%;left:8%;}
    .design1 .banner-content h2{font-size:40px;}
    .design1 .banner-content h3{font-size:28px;}
    .design1 .banner-content.one{width:85%;bottom:53%;left:9.5%;}
    .design1 .banner-content.one h3{font-size:22px;}
    
    .design2 .banner-content.one h2{font-size:60px;}
    
    .design3 .banner-content{top:2%;width:71%;left:13%;}
    .design3 .banner-content h3{font-size:30px;padding-bottom:0;}
    .design3 .banner-content p{padding-top:5px;}
    .design3 .banner-content.one h2{font-size:36px;padding-right:8%;border-width:10px;padding-bottom:5px;}
    .design3 img{top:-140px;}
    
    .design4 .banner-content{left:10.5%;padding:0 3%;top:18%;}
    .design4 .banner-content h3{font-size:21px;margin-bottom:3px;}
    .design4 .banner-content p span{border-width:7px;}
    .design4 .banner-content p:last-of-type{font-size:16px;font-weight:500;padding:2% 2.5%;}
    .design4 .banner-content.one{width:80%;top:5%;}
    .design4 .banner-content.one h2{font-size:45px;}
    
    .banner-without-slide,.banner-text,.banner-img{height:auto;}
    .banner-text{padding-top:8.5%;}
    .banner-text h2{font-size:22px;}
    .banner-without-slide ul li img{top:-28px;}

	.intro-block h3{font-size:32px;margin-bottom:30px;}
    .intro-block p{line-height:30px;}
    .intro-block .content{padding:0% 2% 2%;}
	.info-block .text-block{float:none;width:100%;}
	.info-block.even .text-block{float:none;width:100%;}
	.info-block.odd .text-block{padding-left:0;}
	.info-block.even .text-block{padding-right:0;}
	.info-block .text-block h3{margin-top:0;margin-bottom:20px;line-height:34px;}
	.info-block p{margin-bottom:10px;}
	.info-block .image-block img{min-height:0;height:auto;}
	
	.about-us-head{padding:1% 0 2%;}
	.about-us-head h4{padding:0.5%;}

	.summary-block{padding:1% 0;}	
	.summary-block h4{font-size:24px;padding-bottom:5px;}
	.summary-block p, .summary-block li{font-size:16px!important;line-height:30px;}

    .description-block{padding:5% 0 1%;}
    .description-content{text-align:center;}
    .description-parent{width:33%;float:none;display:inline-block;vertical-align:top;margin-bottom:30px;}
    .mini-desc{min-height:366px;}
    .mini-desc p{font-size:15px;            }

    .time-block{width:100%;}
    .time-block .timeline{float:right;}
    .time-block .timeline .time-head span{left:-10px;top:37%;}
    .time-block.keep-right .time-icon{padding-right:11%;padding-left:7%;}
    .time-block .time-icon span{font-size:49px;}

    .article-common-block{padding:0 10px;}
    
    #contact_map{height:300px;}
	
	.site_map{padding:0;}
	.site_map .nav li{font-size:12px!important;}
	.site_map .nav li a{min-height:48px;}
	
	.faq_block h3{font-size:22px;}
	
    .footer-top ul{padding-left:6%;}
    .footer-top ul li a{font-size:17px;}
    .footer-top ul li:hover a{padding-left:6px;}
    .footer-bottom .footer-content{padding:25px 2.5% 15px;}
    .copyright p span,.powered-by p span{display:block;}
    .social-link{padding-top:10px;}
    .social-link ul li{padding:0 3px;}
}


@media only screen and (max-width:767px){
	h3{font-size:24px;margin-bottom:12px;margin-top:20px;}
	p{margin-bottom:20px;font-size:14px;line-height:28px;}
	h3.title{margin-bottom:10px;margin-top:0;}
    h3.title a{font-size:30px;}
    /* pritorize content*/
    .header-top{border-bottom:1px solid;}
    .banner{display:none;}
	
	.logo{padding:0 10px;text-align:center;}
    .logo img{float:right;position:relative;z-index:10;}
	.social-icon{padding:15px 10px 0;position:relative;bottom:0px;z-index:100;width:50%;float:right;display:none;}
    .social-icon ul{margin-bottom: 0;}
	.menu{display:none;padding-top:30px;}
    .menublock{padding-top: 0;padding-left:7px;background-color:transparent;margin-top:-58px;}
    .menublock ul li a{padding:9px 5px 6px;/*color:#000;*/border-radius:5px;}
	.menublock ul li{display:block;/*background-color:#0066CC;*/border:1px solid #DADADA;margin-bottom:3px;border-radius:5px;}
	/*.menublock ul li:hover{background-color:#FFF;}
	.menublock ul li:hover a{color:#0066CC;}*/
	
	.d-menu{display:block;}
	.menu-icon{position:relative;z-index:10;left:10px;}
	.fixed .logo img{height:45px;}
	.fixed .menu-icon{top:18px;left:6px;}
	/*.fixed .menublock ul li{border-color:#0A85B6;}
	.fixed .menublock ul li:hover{background-color:#FFF;}
	.fixed .menublock ul li:hover a{color:#0A85B6;}
	.fixed .menublock ul li a{color:#FFF;}*/
	
    .banner{height:276px;}
    .banner .flexslider:hover li a{display:none;}
    .banner-content{bottom:33%;width:90%;left:2.5%;padding-top:2px;opacity:0.65;display:none;}
    .banner-content h2{font-size:14px;margin:6px 0px 0px;}
    .banner-content p{font-size:13px;margin-bottom:0px;}
    .banner-content h3{margin:0;font-size:14px;}
    .banner-content.one{top:3%;width:18%;padding:0 1% 0.3%;display:none;}
    .banner-content.one h2{font-size:18px;}
    .banner-content.one  p{font-size:13px;}
    .banner .slides li img{top:-40px;}
    
    .banner-without-slide{height:auto;}
    .banner-text{display:none;}
    .banner-without-slide ul li img{top:-94px;}

	.intro-block{padding:2% 0 0;}
    .intro-block .content{padding:1% 3%;}
	.intro-block h3{font-size:24px;margin-bottom:20px;}
    .intro-block p{line-height:28px;}

	/*.info-block{padding:6% 0;border-top:1px double #0066CC;}*/
	.info-block .image-block{padding:0;}
	.info-block.odd .text-block,.info-block.even .text-block{text-align:center;padding:0;}
    .info-block .text-block h3{line-height:40px;}
    .info-block p{margin-bottom: 10px;}
    .info-block p::first-letter{font-size:26px;}
	.info-block.odd .text-block h3,.info-block.even .text-block h3{text-align:center;}
	.info-block.odd .read-more,.info-block.even .read-more{text-align:center;}
	.info-block .image-block img{min-height:0;height:auto;}

	.product-content{padding:2% 0;}
	.product-content .product-parent{margin-bottom:7%;}
	.product-content .product-parent:last-child{margin-bottom:0;}

    .time-block{width:100%;margin-bottom:10%;}
    .time-block .timeline{float:right;}
    .timeline .time-head h3{font-size:17px;}
    .timeline .time-head span{left:-5px;top:25%;width:20px;}
    .time-block.keep-right .timeline .time-head span{left:-5px;top:25%;}
    .time-block .time-icon{padding-left:4%;padding-right:5%;}
    .time-block.keep-right .time-icon{padding-left:4%;padding-right:5%;}
    .time-block .time-icon .content{padding:6px 0 5px;}
    .time-block .time-icon span{font-size:30px;padding-top:1px;}
    
    .description-block{padding:5% 0 7%;}
    .description-content{text-align:center;padding:0 2%;}
    .description-parent{width:48.5%;float:none;display:inline-block;vertical-align:top;margin-top:20px;min-height:200px;}
    .mini-desc{min-height: 260px;}
    .mini-desc p{font-size:14px;}
	
	.about-us-head{padding:1% 0 1%;}
	.about-us-head h4{padding:0.2%;}
	
	.summary-block p span, .summary-block p, .summary-block li{font-size:14px!important; line-height:28px!important;}
	.summary-block{padding:1% 0;}	
	.summary-block h4{font-size:22px;padding-bottom:5px;}

    .article-common-block{padding:0 20px;}
    
    .contact-left, .contact-right{min-height:0;height:auto;}
    .contact-left.main-form{margin-bottom:15px;}
    .contact-form .button_input.single{padding-top:0%;}
    
    #contact_map{height:200px;}
    .map_block{padding:0 5%;}
	
	.product-parent:last-child .product .text-content,.product .text-content{text-align:center;}
	
	.site_map{padding:10px 2px;}
	.site_map .nav li{font-size:14px!important;}
	.site_map .nav li a{min-height:auto;height:auto;margin-bottom:0;}
	.site_map .nav li.active{border-bottom-color:#0080ff;}
	.site_map ul.nav,.site_map .tab-content{display:none;}
	.site_map .device-content{display:block;}
	.site_map .device-content div{margin-bottom:5px;border:1px solid lightgrey;border-radius:5px;}
	.site_map .device-content div:hover{border-color:#0088ff;}
	.site_map .device-content div p{font-weight:500!important;}
	.site_map .device-content div h3,.site_map .device-content div p{transition:all 0.2s linear;}
	.site_map .device-content div:hover h3, .site_map .device-content div:hover p{color:#0088ff;}
	.site_map .device-content p{margin-bottom:10px;}
	.site_map h3{margin-bottom:10px;font-size:20px;}

	.faq_block h3{font-size:20px;font-weight:normal;}
	.quest_block{padding:5px 5px 10px;margin-bottom:10px;background-color:#EEE;}
	.faq_answer p{padding:5px 10px;}
	
	.footer{padding:6% 0 0;}
	.footer-top{padding-bottom:6%;}
	.footer-top .footer-content .col-md-4{padding-bottom:8%;/*border-bottom:2px dashed #000;*/margin-bottom:6%;}
	.footer-top .footer-content .col-md-4:last-child{padding-bottom:0;margin-bottom:0;border-bottom:0;}
	.footer-bottom{padding:6% 0 5%;}
    .footer-bottom .footer-content .col-md-4{position:relative;margin-bottom:15px;}
    .footer-bottom .footer-content .col-md-4::after{content: '';border-bottom:1px solid lightgrey;width:25%;position:absolute;left:37.5%;bottom:0;}
    .footer-bottom .footer-content .col-md-4:last-child{margin-bottom: 0;}
    .footer-bottom .footer-content .col-md-4:last-child::after{display:none;}
    .footer-bottom p span{display:block;}
    .social-link{padding-top:0;padding-bottom:20px;}
    .social-link ul{padding-left:0;}
    .social-link ul li{margin-bottom: 0;}
    .copyright{padding-bottom:20px;}
    .copyright p{text-align: center;}
	.powered-by{padding-bottom:0px;}
	.powered-by p{text-align:center;}
}

@media only screen and (max-width:480px) {
	h3{font-size:22px;margin-bottom:20px;margin-top:15px;}
	p{margin-bottom:10px;font-size:14px;line-height:24px;}
    .header-top{border-bottom:1px solid;}

	.banner{height:auto;}
	.banner .slides li img{top:-40px;}
	.banner-without-slide{height:auto;}
	.banner-without-slide ul li img{top:-65px;}

	.intro-block{padding:5% 0 4%;}
    .intro-block .content{padding:1% 4%;}
	.intro-block h3{font-size:24px;margin-bottom:20px;margin-top:0;}
	.intro-block p{line-height:26px;}

	.info-block{padding:10% 0 3%;}
	.info-block p{margin-bottom:20px;}

    .description-block{padding:5% 0 10%;}
    .description-parent{width:100%;min-height:0;height:auto;}
    .description-parent:hover{transform:scale(1,1);}
    .mini-desc{min-height:0;height:auto;}
    .mini-desc span{display:none;}
	
	.contact-left{margin-bottom:15px;}
	.contact-form .button_input{padding-top:9%;}
	
    .time-block{padding-bottom:15%;}
    .timeline .time-head span{left:-1px;top:23%;}
    .time-block.keep-right .timeline .time-head span{left:-1px;top:23%;}
    .time-block .time-icon .content{padding:6px 0 5px;}
    .time-block .time-icon{padding-left:4%;padding-right:3%;}
    .time-block.keep-right .time-icon{padding-left:4%;padding-right:3%;}

	.summary-block p span{font-size:15px!important;}

    .article-common-block{padding:0 6%;}
    .article-list-block{padding:0;}
	
	.faq_block h3{font-size:16px;}
	
	.footer{padding:6% 0 0;}
	.footer-top{padding-bottom:0%;}
    .footer-top h4{padding-top: 0;margin-bottom: 15px;}
    .footer-top .footer-content .col-md-3{width:100%;margin-bottom:10px;}
    .footer-menu{padding-bottom: 0;}
    .footer-top ul{text-align:center;padding-left:0;}
    .footer-top ul li:hover a{padding-left:0;}
	.footer-bottom{padding:5% 0 10%;}

	.footer-menu ul li{margin:10px;}
}


@media only screen and (max-width:400px) {
	h3.title a{font-size:28px;}
    .header-top{border-bottom:1px solid;}
	
	.banner{height:auto;}
	.banner-content.one{width:30%;}
	.banner-content.one h2{font-size:16px;}
	.banner-content.one p{font-size:12px;}
	.banner .slides li img{top:-18px;}
	
	.banner-without-slide ul li img{top:-25px;}
	
	.summary-block h4{font-size:20px;}
	
	.contact-form .button_input{padding-top:14%;}
	
    .time-block .time-icon{padding-left:0%;padding-right:2%;}
    .time-block.keep-right .time-icon{padding-left:0%;padding-right:2%;}

    .article-common-block{padding:0 8%;}
    
    #___page_0, #___page_0 iframe{height:185px!important;width:100%!important;}
    #___page_0 iframe{border:1px solid rgba(0, 0, 0, 0.2)!important;}
   .Yfd{width:100%!important;border:none!important;}
    .Jae{width:100%!important;float:left!important;}
    .Aae{height:72px;padding-top:5px;width:100%!important;text-align:center;}
    .jgd{display:inline-block;background-position:0 -15px;}
    .ggd{padding-left:0;max-height:39px;}
    .kgd{margin-top:5px;}
}