<div class="footer col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="footer-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
          <div class="address-block col-md-4 col-sm-4 col-xs-12">
            <h4>CONTACT US</h4>

            <p>Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim, Quisque vel nibh in nunc sodales cursus at id enim.</p>
          </div><!--ADDRESS-BLOCK-->

          <div class="social-link col-md-4 col-sm-4 col-xs-12">
            <h4>FOLLOW US</h4>

            <ul class="list-unstyled">
              <li><a href="#nogo"><span class="fa fa-facebook"></span> - Katomaran India</a></li>
              <li><a href="#nogo"><span class="fa fa-twitter"></span> - Katomaran Technologies</a></li>
              <li><a href="#nogo"><span class="fa fa-linkedin"></span> - Katomaran Robotics</a></li>
              <li><a href="#nogo"><span class="fa fa-mobile"></span> - 1234567890</a></li>
              <li><a href="#nogo"><span class="fa fa-envelope"></span> - robotics@katomaran.com</a></li>
            </ul>
          </div><!--SOCIAL-LINK-->

          <!-- <div class="contact-us col-md-4 col-sm-4 col-xs-12">
            <h4>WRITE US</h4>

            <form>
              <input type="text" class="form-control" placeholder="NAME">

              <input type="text" class="form-control"  placeholder="EMAIL">

              <textarea class="form-control"  placeholder="CONTENT"></textarea>

              <div class="submit-btn">
                <input type="button" value="SUBMIT">
              </div>
            </form>
          </div><!--CONTACT-US-> -->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-TOP-->

  <div class="footer-bottom col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="footer-menu col-md-8 col-sm-8 col-xs-12 no-padding">
            <ul class="list-inline">
              <li><a href="/">HOME</a></li>
              <li><a href="/products">PRODUCTS</a></li>
              <li><a href="#nogo">NESANS OEM</a></li>
              <li><a href="#nogo">SPARES</a></li>
              <li><a href="#nogo">SHOWROOM</a></li>
              <li><a href="/about-us">CONTACT US</a></li>
            </ul>
          </div><!--footer-menu-->

          <div class="powered-by col-md-4 col-sm-4 col-xs-12 no-padding">
            <p>@2016 <span>THE GOOD SIDE,</span> CCC TPL</p>
          </div><!--POWERED-BY-->
        </div><!--FOOTER-CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-BOTTOM-->
</div><!--FOOTER-->

<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			animationSpeed : 2000,
			controlNav : false,
			easing : "swing",
			touch : true,
			pauseOnHover : true
		});
	});
	$(window).load(function(){
		/* wow script for animation */
		var wow = new WOW().init();
	});


	//	$(document).ready(function(){
	//		$('header').css("min-height", $(window).height());
	//		$(document).on("scroll resize", function(){
	//			var windowht = $(window).height();
	//			var currentht = $(document).scrollTop();
	//			if (currentht > windowht-60){
	//				$('.menublock').addClass('fixed-menu');
	//			}
	//			else {
	//				$('.menublock').removeClass('fixed-menu');
	//			}
	//		});
	//	});

	$(document).ready(function(){
		if($(window).width() < 610){
			$('.menu-icon').click(function () {
				// var divname= this.name;
				$('.menu').toggle("slide", { direction: "right" }, 500);
			});
			$('button.close').click(function () {
				// var divname= this.name;
				$('.menu').toggle("slide", { direction: "right" }, 500);
			});
		}

	});
</script>
