<div class="footer col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="footer-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">
        	
          <div class="legal col-md-3 col-sm-3 col-xs-6">
            <h4>LEGAL</h4>

            <ul class="list-unstyled">
              <li><a href="/terms-of-use">Terms of Use</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
              <li><a href="/trademarks">Trademarks</a></li>
            </ul>
          </div><!--ADDRESS-BLOCK-->
          
          <div class="corporate col-md-3 col-sm-3 col-xs-6">
            <h4>CORPORATE</h4>

            <ul class="list-unstyled">
              <li><a href="/about-us">About Us</a></li>
              <li><a href="#nogo">Our Spares Partners</a></li>
              <li><a href="#nogo">Quality Policy</a></li>
              <li><a href="#nogo">Design Policy</a></li>
              <li><a href="#nogo">Career</a></li>
              <li><a href="/site-map">Sitemap</a></li>
            </ul>
          </div><!--ADDRESS-BLOCK-->

          <div class="footer-menu col-md-3 col-sm-3 col-xs-6">
	          <h4>NAVIGATE</h4>

            <ul class="list-unstyled">
              <li><a href="/">Home</a></li>
              <li><a href="/products">Products</a></li>
              <li><a href="/nesan-oem">Nesans OEM</a></li>
              <li><a href="/spares">Spares</a></li>
              <li><a href="/showroom">Showroom</a></li>
              <li><a href="/contact-us">Contact Us</a></li>
            </ul>
          </div><!--SOCIAL-LINK-->

          <div class="resources col-md-3 col-sm-3 col-xs-6">
            <h4>RESOURCES</h4>

            <ul class="list-unstyled">
              <li><a href="#nogo">FAQ</a></li>
              <li><a href="#nogo">Downloads</a></li>
              <li><a href="#nogo">Service Center</a></li>
            </ul>
          </div><!--CONTACT-US-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--FOOTER-TOP-->

  <div class="footer-bottom col-md-12 col-sm-12 col-xs-12 no-padding">

        <div class="footer-content col-md-12 col-sm-12 col-xs-12 no-padding">

          <div class="social-link col-md-4 col-sm-4 col-xs-12 no-padding">
            <ul class="list-inline">
              <li><a href="#nogo" title="LINKED IN" ><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#nogo" title="GOOGLE PLUS" ><span class="fa fa-google"></span></a></li>
              <li><a href="#nogo" title="SPREAD THE WORD" ><span class="fa fa-envelope"></span></a></li>
            </ul>
          </div><!--SOCIAL-LINK-->

          <div class="copyright col-md-4 col-sm-4 col-xs-12 no-padding">

            <p>&#169; Copyright Reserved 2016. <span>Nesan M&A Pvt Ltd.</span></p>
          </div>


          <!--          &lt;!&ndash;footer-menu&ndash;&gt;-->

          <div class="powered-by col-md-4 col-sm-4 col-xs-12 no-padding">
            <p> Powered By<span> Katomaran WebServices </span></p>
          </div><!--POWERED-BY-->
        </div><!--FOOTER-CONTENT-->

  </div><!--FOOTER-BOTTOM-->
</div><!--FOOTER-->

<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<style>
	.copyright{
		text-align: left;
	}
		.powered-by{
			text-align: right;
		}
</style>
<script>

	jQuery.fn.extend({
		disableSelection : function() {
			return this.each(function() {
				this.onselectstart = function() { return false; };
				this.unselectable = "on";
				jQuery(this).css('user-select', 'none');
				jQuery(this).css('-o-user-select', 'none');
				jQuery(this).css('-moz-user-select', 'none');
				jQuery(this).css('-khtml-user-select', 'none');
				jQuery(this).css('-webkit-user-select', 'none');
			});
		}
	});

	$('body').disableSelection();

</script>
<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			animationSpeed : 2000,
			controlNav : false,
			easing : "swing",
			touch : true,
			pauseOnHover : true
		});
	});
	$(window).load(function(){
		/* wow script for animation */
		var wow = new WOW().init();
	});


	//	$(document).ready(function(){
	//		$('header').css("min-height", $(window).height());
	//		$(document).on("scroll resize", function(){
	//			var windowht = $(window).height();
	//			var currentht = $(document).scrollTop();
	//			if (currentht > windowht-60){
	//				$('.menublock').addClass('fixed-menu');
	//			}
	//			else {
	//				$('.menublock').removeClass('fixed-menu');
	//			}
	//		});
	//	});

	$(document).ready(function(){
		if($(window).width() < 610){
			$('.menu-icon').click(function () {
				// var divname= this.name;
				$('.menu').toggle();
			});
			$('button.close').click(function () {
				// var divname= this.name;
				$('.menu').toggle();
			});
		}

	});
</script>
