<header>
  <div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="logo col-md-5 col-sm-5 col-xs-12 no-padding">
          <a href="/"><img src="/image/logo.png" class="img-responsive" alt="logo"/></a>
        </div><!--LOGO-->

        <div class="social-icon col-md-7 col-sm-7 col-xs-12 no-padding">
          <ul class="list-inline">
            <li><a href="#nogo"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#nogo"><span class="fa fa-envelope"></span></a></li>
          </ul>

          <!-- <div class="search">
	<span><a href="#nogo"><span class="fa fa-search"></span></a></span>
	<input type="text" placeholder="..search">
</div> -->
        </div>

        <!-- <div class="menublock col-md-10 col-sm-10 col-xs-12">
<ul class="menu">
<li><a href="#nogo">MENU 1</a></li>
<li><a href="#nogo">MENU 2</a></li>
<li><a href="#nogo">MENU 3</a></li>
<li><a href="#nogo">MENU 4</a></li>
<li><a href="#nogo">MENU 5</a></li>
</ul>
</div><!--MENUBLOCK-- -->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--HEADER-TOP-->

  <div class="menublock col-md-12 col-sm-12 col-xs-12">
    <div class="container no-padding">

      <div class="row no-margin">
        <div class="d-menu">
          <a href="#nogo" class="menu-icon"></a>
        </div>

        <ul class="menu">
          <li><a href="/">HOME</a></li>
          <li><a href="/products">PRODUCTS</a></li>
          <li><a href="/nesan-oem">NESANS OEM</a></li>
          <li><a href="/spares">SPARES</a></li>
          <li><a href="/showroom">SHOWROOM</a></li>
          <li><a href="/contact-us">CONTACT US</a></li>
        </ul>

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--MENUBLOCK-->

  <% if @page_properties %>

    <div class="banner col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460127634/thenesans/5.png" class="img-responsive" alt="banner">
            <div class="banner-content wow bounceInUp" data-wow-delay="2s">
              <h2><a href="#nogo">Cras convallis</a></h2>
            </div><!--BANNER-CONTENT-->
          </li>
          <li>
            <img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460127633/thenesans/2.png" class="img-responsive" alt="banner">
            <div class="banner-content wow bounceInUp" data-wow-delay="2s">
              <h2><a href="#nogo">Cras convallis</a></h2>
            </div><!--BANNER-CONTENT-->
          </li>
          <li>
            <img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460127634/thenesans/5.png" class="img-responsive" alt="banner">
            <div class="banner-content wow bounceInUp" data-wow-delay="2s">
              <h2><a href="#nogo">Cras convallis</a></h2>
            </div><!--BANNER-CONTENT-->
          </li>
          <li>
            <img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460127633/thenesans/2.png" class="img-responsive" alt="banner">
            <div class="banner-content wow bounceInUp" data-wow-delay="2s">
              <h2><a href="#nogo">Cras convallis</a></h2>
            </div><!--BANNER-CONTENT-->
          </li>
          <li>
            <img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460127634/thenesans/5.png" class="img-responsive" alt="banner">
            <div class="banner-content wow bounceInUp" data-wow-delay="2s">
              <h2><a href="#nogo">Cras convallis</a></h2>
            </div><!--BANNER-CONTENT-->
          </li>
        </ul>
      </div>

    </div><!--BANNER-BLOCK-->
  <% else %>
    <div class="banner banner-without-slide col-md-12 col-sm-12 col-xs-12 no-padding">
        <ul class="list-unstyled">
          <li>
            <img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460127634/thenesans/5.png" class="img-responsive" alt="banner">
            <div class="banner-content wow bounceInUp" data-wow-delay="2s">
              <h2><a href="#nogo">Cras convallis</a></h2>
            </div><!--BANNER-CONTENT-->
          </li>
        </ul>
      </div>

    </div><!--BANNER-BLOCK-->
  <% end %>

</header>